#
# make.module.tmpl for dyninst test suite
# Not intended to be a seperate makefile, but to be used in conjunction with
# higher level, platform-specific makefiles in the build directories

RM = rm -f
RMDIR ?= rmdir
M_GCC ?= purify $(GCC)
M_GXX ?= $(GXX)
DEPCC ?= $(GCC)
DEPENDFLAGS ?= -MM -MT
DEPENDDIR = ./depends
VPATH 	= ../src $(DEPENDDIR)

DYNINST_INCDIR = -I../../dyninstAPI/h
SYMTAB_INCDIR = -I../../symtabAPI/h
DYNUTIL_INCDIR = -I../../dynutil/h

IFLAGS += $(DYNINST_INCDIR)
IFLAGS += $(DYNUTIL_INCDIR)
IFLAGS += $(SYMTAB_INCDIR)
CXXFLAGS += $(DYNINST_INCDIR)
CXXFLAGS += $(DYNUTIL_INCDIR)
CXXFLAGS += $(SYMTAB_INCDIR)

#######################################################################
###  Generate compiler id strings
###
###  COMPILERT_NATIVE_CC, COMPILERT_NATIVE_CXX must be defined prior to
###  inclusion of this file.  gcc/g++ are handled here as platform-indep
###
#######################################################################

EMPTY:=
BLANK:=$(EMPTY) $(EMPTY)
LPAREN:=(
RPAREN:=)
COMMA=,

COMPILERT_GCC = $(shell $(M_GCC) -v 2>&1 | grep version | head -1)
COMPILER1_GCC = $(subst $(BLANK),_,$(COMPILERT_GCC))
COMPILER2_GCC = $(subst $(LPAREN),_,$(COMPILER1_GCC))
COMPILER_GCC = $(subst $(RPAREN),_,$(COMPILER2_GCC))
MUTATEE_CFLAGS_GNU += -DCOMPILER='"$(COMPILER_GCC)"'

COMPILERT_GXX = $(shell $(M_GCC) -v 2>&1 | grep version | head -1)
COMPILER1_GXX = $(subst $(BLANK),_,$(COMPILERT_GXX))
COMPILER2_GXX = $(subst $(LPAREN),_,$(COMPILER1_GXX))
COMPILER_GXX = $(subst $(RPAREN),_,$(COMPILER2_GXX))
MUTATEE_CXXFLAGS_GNU += -DCOMPILER='"$(COMPILER_GXX)"'

COMPILER1_NATIVE_CC = $(subst $(BLANK),_,$(COMPILERT_NATIVE_CC))
COMPILER2_NATIVE_CC = $(subst $(LPAREN),_,$(COMPILER1_NATIVE_CC))
COMPILER_NATIVE_CC = $(subst $(RPAREN),_,$(COMPILER2_NATIVE_CC))
MUTATEE_CFLAGS_NATIVE += -DCOMPILER='"$(COMPILER_NATIVE_CC)"'

COMPILER1_NATIVE_CXX = $(subst $(BLANK),_,$(COMPILERT_NATIVE_CXX))
COMPILER2_NATIVE_CXX = $(subst $(LPAREN),_,$(COMPILER1_NATIVE_CXX))
COMPILER_NATIVE_CXX = $(subst $(RPAREN),_,$(COMPILER2_NATIVE_CXX))
MUTATEE_CXXFLAGS_NATIVE += -DCOMPILER='"$(COMPILER_NATIVE_CXX)"'

TEST_DEST = $(TO_CORE)/$(PROGRAM_DEST)/testprogs_new2
LIB_DEST = $(TO_CORE)/$(LIBRARY_DEST)

#######################################################################
###  Basic definitions (filename prefixes)
#######################################################################

FORALL_MUTATORS =  

FORALL_MUTATEES = mutatee_util

TESTLIB_STEMS 	+= libtestA libtestB libInstMe libLoadMe
TESTLIBS = $(addsuffix .so, $(TESTLIB_STEMS))

ifdef M_ABI
TESTLIBS_ABI = $(addsuffix _$(M_ABI).so, $(TESTLIB_STEMS))
TESTLIBS_ABI += libTest12_$(M_ABI).so
endif

SRCS_LIBTESTSUITE = test_lib.C \
                    test_lib_soExecution.C \
                    test_lib_mutateeStart.C \
                    test_lib_test7.C \
                    test_lib_test9.C \
                    Process_data.C \
                    ParameterDict.C \
                    Callbacks.C \
                    TestData.C \
                    TestMutator.C \
                    TestOutputDriver.C \
                    StdOutputDriver.C

SRCS_TEMPLATES = test_driver_templates.C 

OBJS_LIBTESTSUITE = $(SRCS_LIBTESTSUITE:%.C=%.o)
OBJS_TEMPLATES = $(SRCS_TEMPLATES:%.C=%.o)

ifdef USE_LIBTESTSUITE_EXT_A
LIBTESTSUITE = libtestSuite.a
else
LIBTESTSUITE = libtestSuite.so
endif


######################################################################
### Main target
######################################################################

all: testlibs mutators mutatees drivers output_drivers


######################################################################
###  Generate and include automatically generated sub-makefiles
######################################################################

# These rules should build the specification-generated files if necessary
#TO_SPEC = ../src/specification
#TO_SRC ?= ../src

#PROLOG_STRING := $(shell which gprolog)
#PROLOG_FOUND := $(findstring /gprolog,$(PROLOG_STRING))
#ifeq ($(PROLOG_FOUND),/gprolog)
# We found prolog, so we'll deal with it
#PROLOG_FILES = spec.pl test.pl util.pl

#$(PROLOG_FILES): %: $(TO_SPEC)/%
#	cp -f $(TO_SPEC)/$* .

#tuples: $(PROLOG_FILES)
#	gprolog --entry-goal "['spec.pl']" \
#		--entry-goal "test_init('$(PLATFORM)')" \
#		--entry-goal "write_tuples('tuples', '$(PLATFORM)')" \
#		--entry-goal "halt"
#else
#PROLOG_FILES =
#endif

#PYTHON_STRING :=$(shell which python)
#PYTHON_FOUND :=$(findstring /python,$(PYTHON_STRING))
#ifeq ($(PYTHON_FOUND),/python)
#PYTHON_FILES =$(TO_SPEC)/makemake.py $(TO_SPEC)/tuples.py
#.PHONY: gen
#gen: make.mutators.gen make.solo_mutatee.gen test_info_new.gen.C

#make.mutators.gen: $(PYTHON_FILES) tuples
#	python -c "import sys; sys.path.append('$(TO_SPEC)'); import makemake; makemake.write_make_mutators_gen('make.mutators.gen', 'tuples')"

#make.solo_mutatee.gen: $(PYTHON_FILES) tuples
#	python -c "import sys; sys.path.append('$(TO_SPEC)'); import makemake; makemake.write_make_solo_mutatee_gen('make.solo_mutatee.gen', 'tuples')"

# Generate the lists of tests to run in test_info_new.gen.C
#test_info_new.gen.C: $(PYTHON_FILES) tuples
#	python -c "import sys; sys.path.append('$(TO_SPEC)'); import makemake; makemake.write_test_info_new_gen('test_info_new.gen.C', 'tuples')"

#else
#PYTHON_FILES =
#endif

include make.solo_mutatee.gen

mutatees: $(SOLO_MUTATEES)

# test_info_new.gen.o is special-cased because it makes use of the
# COMPILER_CONTROL_DEFS to determine which mutatees to enable for compilers
# that are not present at all sites.
test_info_new.gen.o: test_info_new.gen.C
	$(CXX) -c -o $@ $(CXXFLAGS) $(COMPILER_CONTROL_DEFS) -I../src/ test_info_new.gen.C

# FIXME The following rule is temporary
# all: solo_mutatees

#######################################################################
###  A list of all the targets we're building, for install purposes
#######################################################################

ALL_TARGETS			= $(MUTATORS_SO)
ALL_TARGETS			+= $(SOLO_MUTATEES)
ALL_TARGETS			+= $(TESTLIBS)
ALL_TARGETS			+= libTest12.so
#ALL_TARGETS			+= test11
ALL_TARGETS                     += runTests
ALL_TARGETS                     += test_driver

ALL_TARGETS_DEST		= $(addprefix $(TEST_DEST)/,$(ALL_TARGETS))
LIBTESTSUITE_DEST               = $(addprefix $(TEST_DEST)/,$(LIBTESTSUITE))

#######################################################################
###  Some pattern rules
#######################################################################

CXXTFLAGS := $(filter-out -fno-implicit-templates, $(CXXFLAGS))
#CXXTFLAGS += -fimplicit-templates

#%_$(NATIVE_CC).o : %.c
#	$(NATIVE_CC) -c $< $(CFLAGS_NATIVE) $(MUTATEE_CFLAGS_NATIVE) -o $@
#%_$(NATIVE_CXX).o : %.c
#	$(NATIVE_CXX) -c $< $(CXXFLAGS_NATIVE) $(MUTATEE_CXXFLAGS_NATIVE) -o $@

#%_gcc.o: %.c
#	$(M_GCC) -c $< $(CFLAGS) $(MUTATEE_CFLAGS_GNU) -o $@
#%_g++.o: %.c 
#	$(M_GXX) $(CXXFLAGS) $(MUTATEE_CXXFLAGS_GNU) -c $< -o $@
#%_g++.o: %.C 
#	$(M_GXX) $(CXXFLAGS) $(MUTATEE_CXXFLAGS_GNU) -c $< -o $@

#ifdef M_ABI
#%_gcc_$(M_ABI).o: %.c
#	$(M_GCC) $(M_ABI_FLAG) -c $< $(CFLAGS) $(MUTATEE_CFLAGS_GNU) -o $@
#%_g++_$(M_ABI).o: %.c
#	$(M_GXX) $(M_ABI_FLAG) $(CXXFLAGS) $(MUTATEE_CXXFLAGS_GNU) -c $< -o $@
#%_g++_$(M_ABI).o: %.C
#	$(M_GXX) $(M_ABI_FLAG) $(CXXFLAGS) $(MUTATEE_CXXFLAGS_GNU) -c $< -o $@
#endif

#.C.o:
#	$(CXX) -c $< $(CXXFLAGS) $(MUTATOR_CXXFLAGS) -o $@

$(TEST_DEST)/%: % $(TEST_DEST)
	echo Skipping test copy
#	-$(CP) $< $(TEST_DEST)
#	-$(CHMOD) 750 $(TEST_DEST)/$<

$(LIB_DEST)/%: % $(LIB_DEST)
	echo Skipping lib copy
#	-$(CP) $< $(LIB_DEST)
#	-$(CHMOD) 750 $(LIB_DEST)/$<

$(TEST_DEST_LN)/%: % $(TEST_DEST)
	-$(LN) $< $(TEST_DEST)

$(LIB_DEST_LN)/%: % $(LIB_DEST)
	-$(LN) $< $(LIB_DEST)


#######################################################################
###  High level targets
#######################################################################

MUTATOR_LDFLAGS := -L. -ltestSuite $(LIBDIR) -lcommon -lsymtabAPI -ldyninstAPI $(MUTATOR_LIBS) $(MUTATOR_LDFLAGS) -lpthread
MUTATOR_SO_LDFLAGS = $(filter-out -liberty, $(MUTATOR_LDFLAGS))


# all: testlibs mutators mutatees drivers
# See also an addition to the 'all' rule at the end of the file

### Automatically generated variables; generated by makemake.py
include make.mutators.gen

echo:
	@echo "DEPS TESTLIBS = $(DEPS_TESTLIBS)"; \
	echo "MUTATEES_NATIVE_CXX = $(MUTATEES_NATIVE_CXX)"; \
	echo "MUTATEES_NATIVE_CC = $(MUTATEES_NATIVE_CC)"; \
        echo "MUTATORS = $(MUTATORS)" ; \
	echo "MUTATEES_GCC_ABI = $(MUTATEES_GCC_ABI)"

# FIXME The snippet of shell code in the info message probably won't work on
# Windows
install: $(TEST_DEST) $(ALL_TARGETS_DEST) $(LIB_DEST) $(LIBTESTSUITE_DEST)
	@echo
	@echo "**********************************************************************"
	@echo "*** IMPORTANT:"
	@echo "***"
	@echo "*** To run the new test suite, you must ensure that the current"
	@echo "*** directory ('.') occurs in your library path before"
	@echo "***" $(shell cd $(LIB_DEST);pwd)
	@echo "***"
	@echo "**********************************************************************"
	@echo
	@echo "install completed"

symlink: $(TEST_DEST) $(LIBTESTSUITE_DEST) $(ALL_TARGETS)
	@for i in $(ALL_TARGETS); do \
           $(RM) $(TEST_DEST)/$$i; \
           echo $(LN) $(PWD)/$$i $(TEST_DEST)/$$i; \
	   $(LN) $(PWD)/$$i $(TEST_DEST)/$$i; \
	done

	@$(RM) $(LIB_DEST)/$(LIBTESTSUITE)
	$(LN) $(PWD)/$(LIBTESTSUITE) $(LIB_DEST)/$(LIBTESTSUITE)

clean: clean_solo_mutatees
	$(RM) *.da *.bb. *.bbg 
	$(RM) $(TESTLIBS) $(TESTLIBS_ABI) $(LIBTESTSUITE) test_driver runTests libTest12.so
	$(RM) $(MUTATORS_SO)
	$(RM) $(OUTPUT_DRIVERS)
	$(RM) *.o
	$(RM) test11
	$(RM) imagefile
	$(RM) core core.*
	$(RM) -r _dyninstsaved*
	$(RM) *.ii *.ti
	$(RM) .__afs*

distclean: clean
	@if [ -d $(DEPENDDIR) ]; then \
	  $(RM) $(DEPENDDIR)/*.dep; \
          rmdir $(DEPENDDIR); \
         fi

specclean:
	$(RM) *.gen *.pl tuples test_info_new.gen.C

ifdef M_ABI
$(CALL35_1_OBJ_ABI): $(CALL35_1_SRC_ABI)
	$(M_GCC) $(M_ABI_FLAG) -c $< $(CFLAGS) $(MUTATEE_CFLAGS_GNU) -o $@ 
endif


#mutators: $(MUTATORS_SO) test11
# mutatees: gnu_mutatees native_mutatees
# gnu_mutatees: $(MUTATEES_GCC) $(MUTATEES_GXX) $(MUTATEES_G77) $(MUTATEES_GCC_ABI) $(MUTATEES_GXX_ABI)
# native_mutatees: $(MUTATEES_NATIVE_CC) $(MUTATEES_NATIVE_CXX) $(MUTATEES_NATIVE_FC) $(MUTATEES_NATIVE_CXX_OMP) $(MUTATEES_NATIVE_CXX_ONLY)
testlibs: $(TESTLIBS) $(TESTLIBS_ABI) $(LIBTESTSUITE) libTest12.so

drivers: test_driver runTests

.PHONY: clean install distclean mutators mutatees testlibs gnu_mutatees native_mutatees echo all

# Despite the look, this isn't actually a pattern rule and so is
# defined _after_ all:
# $(CALL35_1_OBJ): $(CALL35_1_SRC)
# 	$(M_GCC) -c $< $(CFLAGS) $(MUTATEE_CFLAGS_GNU) -o $@ 

# $(TEST6_AS_OBJ_GNU): $(TEST6_AS_SRC)
# 	$(TEST6_AS_GNU) $(TEST6_ASFLAGS_GNU) -o $@ $<

#######################################################################
###  Build command for test libraries
#######################################################################

$(TESTLIBS): %.so : %.c $(DEPENDDIR)/%.dep
ifdef MAKE_SHARED_LIB
	$(CC) -g -c $(CFLAGS) -I$(TO_CORE)/dyninstAPI_RT/h $(CFLAGS_TESTLIBS) $(filter %.c, $^) -o $*.o
	$(MAKE_SHARED_LIB) $(TESTLIB_FLAGS) $*.o -o $@
else
	$(CC) $(TESTLIB_FLAGS) -I$(TO_CORE)/dyninstAPI_RT/h -I../src/ $(filter %.c,$^) -o $@
endif

ifdef M_ABI
$(TESTLIBS_ABI): %_$(M_ABI).so : %.c $(DEPENDDIR)/%.dep
ifdef MAKE_SHARED_LIB
	$(CC) -g -c $(CFLAGS) $(CFLAGS_TESTLIBS) $(filter %.c, $^) -o $*.o
	$(MAKE_SHARED_LIB) $(TESTLIB_FLAGS) $*.o -o $@
else
	$(CC) $(M_ABI_FLAG) $(TESTLIB_FLAGS) -I$(TO_CORE)/dyninstAPI_RT/h -I../src/ $(filter %.c,$^) -o $@
endif
endif

$(OBJS_TEMPLATES): %.o : ../src/%.C
#	echo "***OBJS_TEMPLATES***"
	$(M_GXX) -c -o $@ $(CXXTFLAGS) -I../src/ ../src/$*.C

test_lib_templates.o : ../src/test_lib_templates.C
	$(M_GXX) -c -o $@ -fPIC $(CXXTFLAGS) -I../src/ ../src/$*.C

$(OBJS_LIBTESTSUITE): %.o : ../src/%.C $(DEPENDDIR)/%.dep
#	echo "***OBJS_LIBTESTSUITE***"
	$(M_GXX) -c -o $@ -fPIC $(CXXFLAGS) -I../src/ ../src/$*.C

$(LIBTESTSUITE) : $(OBJS_LIBTESTSUITE) test_lib_templates.o test_lib.h
	$(CXX) -shared $(TESTSUITE_FLAGS) $(LIBDIR) -ldyninstAPI -lsymtabAPI -lcommon $(LIBS_LIBTESTSUITE) $(OBJS_LIBTESTSUITE) test_lib_templates.o -o $@

libTest12.so: libTest12.c $(DEPENDDIR)/libTest12.dep
ifdef MAKE_SHARED_LIB
	$(CC) -g -c $(CFLAGS) -I$(TO_CORE)/dyninst_RT/h $(CFLAGS_TESTLIBS) $(filter %.c, $^)  -o libTest12.o
	$(MAKE_SHARED_LIB) $(TESTLIB_FLAGS) $(LIBTEST12_FLAGS) libTest12.o -o $@
else
	$(CC) $(TESTLIB_FLAGS) -I$(TO_CORE)/dyninstAPI_RT/h $(LIBTEST12_FLAGS) $(filter %.c, $^) -o $@
endif

#######################################################################
###  Special Prerequisites for specific Mutatees:
#######################################################################

# Test 1 mutatee depends on two extra files
# test1.mutatee_gcc: $(CALL35_1_OBJ) test1.mutateeCommon_gcc.o
# test1.mutatee_g++: $(CALL35_1_OBJ) test1.mutateeCommon_g++.o
# test1.mutatee_$(NATIVE_CC): $(CALL35_1_SRC) test1.mutateeCommon.c
# test1.mutatee_$(NATIVE_CXX): $(CALL35_1_SRC) test1.mutateeCommon.c

# ifdef M_ABI
# test1.mutatee_gcc_$(M_ABI): $(CALL35_1_OBJ_ABI) test1.mutateeCommon_gcc_m32.o
# test1.mutatee_g++_$(M_ABI): $(CALL35_1_OBJ_ABI) test1.mutateeCommon_g++_m32.o
# test1.mutatee_$(NATIVE_CC)_$(M_ABI): $(CALL35_1_SRC_ABI) test1.mutateeCommon.c
# test1.mutatee_$(NATIVE_CXX)_$(M_ABI): $(CALL35_1_SRC_ABI) test1.mutateeCommon.c
# endif

# Test 6 mutatee depends on a platform-specific asm file
# test6.mutatee_$(NATIVE_CC): $(TEST6_AS_OBJ_GNU) 
# test6.mutatee_$(NATIVE_CXX): $(TEST6_AS_OBJ_GNU) 
# test6.mutatee_gcc: $(TEST6_AS_OBJ_GNU) 

# libInstMe.so must be built before test9.mutatee
# test9.mutatee_gcc: libInstMe.so
# test9.mutatee_$(NATIVE_CC): libInstMe.so

# ifdef M_ABI
# test9.mutatee_gcc: libInstMe_$(M_ABI).so
# test9.mutatee_$(NATIVE_CC): libInstMe_(M_ABI).so
# endif

# test13.mutatee_$(NATIVE_CXX): mutatee_util_mt_$(NATIVE_CXX).o
# test13.mutatee_$(NATIVE_CC): mutatee_util_mt_$(NATIVE_CC).o
# test13.mutatee_$(M_GCC): mutatee_util_mt_$(M_GCC).o
# test13.mutatee_$(M_GXX): mutatee_util_mt_$(M_GXX).o
# test14.mutatee_$(NATIVE_CXX): mutatee_util_mt_$(NATIVE_CXX).o
# test14.mutatee_$(NATIVE_CC): mutatee_util_mt_$(NATIVE_CC).o
# test14.mutatee_$(M_GCC): mutatee_util_mt_$(M_GCC).o
# test14.mutatee_$(M_GXX): mutatee_util_mt_$(M_GXX).o
# test15.mutatee_$(NATIVE_CXX): mutatee_util_mt_$(NATIVE_CXX).o
# test15.mutatee_$(NATIVE_CC): mutatee_util_mt_$(NATIVE_CC).o
# test15.mutatee_$(M_GCC): mutatee_util_mt_$(M_GCC).o
# test15.mutatee_$(M_GXX): mutatee_util_mt_$(M_GXX).o

# test14.mutatee_$(NATIVE_CXX): mutatee_util_mt_$(NATIVE_CXX).o
# test14.mutatee_$(NATIVE_CC): mutatee_util_mt_$(NATIVE_CC).o
# test14.mutatee_$(M_GCC): mutatee_util_mt_$(M_GCC).o
# test14.mutatee_$(M_GXX): mutatee_util_mt_$(M_GXX).o

# test15.mutatee_$(NATIVE_CXX): mutatee_util_mt_$(NATIVE_CXX).o
# test15.mutatee_$(NATIVE_CC): mutatee_util_mt_$(NATIVE_CC).o
# test15.mutatee_$(M_GCC): mutatee_util_mt_$(M_GCC).o
# test15.mutatee_$(M_GXX): mutatee_util_mt_$(M_GXX).o

# ifdef M_ABI
# test13.mutatee_$(NATIVE_CXX)_$(M_ABI): mutatee_util_mt_$(NATIVE_CXX)_$(M_ABI).o
# test13.mutatee_$(NATIVE_CC)_$(M_ABI): mutatee_util_mt_$(NATIVE_CC)_$(M_ABI).o
# test13.mutatee_$(M_GCC)_$(M_ABI): mutatee_util_mt_$(M_GCC)_$(M_ABI).o
# test13.mutatee_$(M_GXX)_$(M_ABI): mutatee_util_mt_$(M_GXX)_$(M_ABI).o
# test14.mutatee_$(NATIVE_CXX)_$(M_ABI): mutatee_util_mt_$(NATIVE_CXX)_$(M_ABI).o
# test14.mutatee_$(NATIVE_CC)_$(M_ABI): mutatee_util_mt_$(NATIVE_CC)_$(M_ABI).o
# test14.mutatee_$(M_GCC)_$(M_ABI): mutatee_util_mt_$(M_GCC)_$(M_ABI).o
# test14.mutatee_$(M_GXX)_$(M_ABI): mutatee_util_mt_$(M_GXX)_$(M_ABI).o
# test15.mutatee_$(NATIVE_CXX)_$(M_ABI): mutatee_util_mt_$(NATIVE_CXX)_$(M_ABI).o
# test15.mutatee_$(NATIVE_CC)_$(M_ABI): mutatee_util_mt_$(NATIVE_CC)_$(M_ABI).o
# test15.mutatee_$(M_GCC)_$(M_ABI): mutatee_util_mt_$(M_GCC)_$(M_ABI).o
# test15.mutatee_$(M_GXX)_$(M_ABI): mutatee_util_mt_$(M_GXX)_$(M_ABI).o

# test14.mutatee_$(NATIVE_CXX)_$(M_ABI): mutatee_util_mt_$(NATIVE_CXX)_$(M_ABI).o
# test14.mutatee_$(NATIVE_CC)_$(M_ABI): mutatee_util_mt_$(NATIVE_CC)_$(M_ABI).o
# test14.mutatee_$(M_GCC)_$(M_ABI): mutatee_util_mt_$(M_GCC)_$(M_ABI).o
# test14.mutatee_$(M_GXX)_$(M_ABI): mutatee_util_mt_$(M_GXX)_$(M_ABI).o

# test15.mutatee_$(NATIVE_CXX)_$(M_ABI): mutatee_util_mt_$(NATIVE_CXX)_$(M_ABI).o
# test15.mutatee_$(NATIVE_CC)_$(M_ABI): mutatee_util_mt_$(NATIVE_CC)_$(M_ABI).o
# test15.mutatee_$(M_GCC)_$(M_ABI): mutatee_util_mt_$(M_GCC)_$(M_ABI).o
# test15.mutatee_$(M_GXX)_$(M_ABI): mutatee_util_mt_$(M_GXX)_$(M_ABI).o

# endif

# MUTATEE_SPECIFIC_LIBS is analyzed by gmake when constructing the link line
# If you want to specify that a specific library should be used to link a specific
# mutatee, add an entry to this variable in the format <testno>.-libwhatever
# 
# The <testno>. will be stripped off, leaving -libwhatever on the link line

# MUTATEE_SPECIFIC_LIBS_GNU 	+= $(MUTATEE_TEST9_EXTRA_LIB)
# MUTATEE_SPECIFIC_LIBS_GNU 	+= 12.-lpthread
# MUTATEE_SPECIFIC_LIBS_NATIVE 	+= $(MUTATEE_TEST9_EXTRA_LIB)
# MUTATEE_SPECIFIC_LIBS_NATIVE 	+= 12.-lpthread
# MUTATEE_SPECIFIC_LIBS_GNU 	+= 13.-lpthread
# MUTATEE_SPECIFIC_LIBS_GNU 	+= 14.-lpthread
# MUTATEE_SPECIFIC_LIBS_GNU 	+= 15.-lpthread
# MUTATEE_SPECIFIC_LIBS_NATIVE 	+= 13.-lpthread
# MUTATEE_SPECIFIC_LIBS_NATIVE 	+= 14.-lpthread
# MUTATEE_SPECIFIC_LIBS_NATIVE 	+= 15.-lpthread

# ifdef MUTATEE_USE_LIBDL_SELECTIVELY
# MUTATEE_SPECIFIC_LIBS_GNU 	+= 1.-ldl
# MUTATEE_SPECIFIC_LIBS_NATIVE 	+= 1.-ldl
# MUTATEE_SPECIFIC_LIBS_GNU 	+= 2.-ldl
# MUTATEE_SPECIFIC_LIBS_NATIVE 	+= 2.-ldl
# MUTATEE_SPECIFIC_LIBS_GNU 	+= 12.-ldl
# MUTATEE_SPECIFIC_LIBS_NATIVE 	+= 12.-ldl

# ifdef M_ABI
# MUTATEE_SPECIFIC_LIBS_GNU_ABI 	+= 1.-ldl
# MUTATEE_SPECIFIC_LIBS_GNU_ABI 	+= 2.-ldl
# MUTATEE_SPECIFIC_LIBS_GNU_ABI 	+= 12.-ldl
# endif
# endif

# ifdef M_ABI
# MUTATEE_SPECIFIC_LIBS_GNU_ABI 	+= $(MUTATEE_TEST9_EXTRA_LIB_ABI)
# MUTATEE_SPECIFIC_LIBS_GNU_ABI	+= 12.-lpthread
# MUTATEE_SPECIFIC_LIBS_GNU_ABI 	+= 13.-lpthread
# MUTATEE_SPECIFIC_LIBS_GNU_ABI 	+= 14.-lpthread
# MUTATEE_SPECIFIC_LIBS_GNU_ABI 	+= 15.-lpthread
# endif

#######################################################################
###  Generic mutatee build rules (GNU and NATIVE):
#######################################################################

# GNU Mutatees

#$(MUTATEES_GCC): test%.mutatee_gcc : test%.mutatee_gcc.o $(DEPENDDIR)/test%.mutatee_gcc.dep mutatee_util_gcc.o
#	$(M_GCC) -o $@ $(filter %.o,$^) $(MUTATEE_LDFLAGS_GNU) $(MUTATEE_LIBS) \
#            $(subst $*.,,$(filter $*.%, $(MUTATEE_SPECIFIC_LIBS_GNU)))

#$(MUTATEES_GXX): test%.mutatee_g++ : test%.mutatee_g++.o $(DEPENDDIR)/test%.mutatee_g++.dep mutatee_util_g++.o
#	$(M_GXX) -o $@ $(filter %.o,$^) $(MUTATEE_LDFLAGS_GNU) $(MUTATEE_LIBS) \
#            $(subst $*.,,$(filter $*.%, $(MUTATEE_SPECIFIC_LIBS_GNU)))

# GNU Secondary ABI Mutatees
# ifdef M_ABI
# $(MUTATEES_GCC_ABI): test%.mutatee_gcc_$(M_ABI) : test%.mutatee_gcc_$(M_ABI).o $(DEPENDDIR)/test%.mutatee_gcc.dep mutatee_util_gcc_$(M_ABI).o
# 	$(M_GCC) $(M_ABI_FLAG) -o $@ $(filter %.o,$^) $(MUTATEE_LDFLAGS_GNU) $(MUTATEE_LIBS) \
#             $(subst $*.,,$(filter $*.%, $(MUTATEE_SPECIFIC_LIBS_GNU_ABI)))

# $(MUTATEES_GXX_ABI): test%.mutatee_g++_$(M_ABI) : test%.mutatee_g++_$(M_ABI).o $(DEPENDDIR)/test%.mutatee_g++.dep mutatee_util_g++_$(M_ABI).o
# 	$(M_GXX) $(M_ABI_FLAG) -o $@ $(filter %.o,$^) $(MUTATEE_LDFLAGS_GNU) $(MUTATEE_LIBS) \
#             $(subst $*.,,$(filter $*.%, $(MUTATEE_SPECIFIC_LIBS_GNU_ABI)))
# endif


# GNU Fortran (g77) mutatees
# 
# There is no real advantage to generality here since there is only one fortran mutatee
# (ie for test1), thus all constituent files are built explicitly

# ifdef M_G77
# test1.mutatee_g77.o: ../src/test1.mutateeFort.F
# 	$(M_G77) -g  $(MUTATEE_G77_FFLAGS) -c -o $@ $^ 
# test1.mutateeFortC_g77.o: $(TEST1_FORTRAN_CSOURCE)
# 	$(M_GCC) $(MUTATEE_G77_CFLAGS) $(filter %.c,$^) -o $@

# $(MUTATEES_G77): test%.mutatee_g77 : test%.mutatee_g77.o test1.mutateeFortC_g77.o test1.mutateeCommon_gcc.o mutatee_util_gcc.o $(DEPENDDIR)/test%.mutatee_g77.dep
# 	$(M_G77) -o $@ $(filter %.o,$^) $(MUTATEE_G77_LDFLAGS) $(MUTATEE_LIBS) 
# endif

# Native Mutatees

#ifdef NATIVE_CC
#$(MUTATEES_NATIVE_CC): test%.mutatee_$(NATIVE_CC) : test%.mutatee.c mutatee_util_$(NATIVE_CC).o
#	$(NATIVE_CC) $(MUTATEE_CFLAGS_NATIVE) $(MUTATEE_LDFLAGS_NATIVE) -o $@ $(MUTATEE_LIBS) $(filter %.c  %.s %.S %.o, $^) \
#            $(subst $*.,,$(filter $*.%, $(MUTATEE_SPECIFIC_LIBS_NATIVE))) 

#endif

#ifdef NATIVE_CXX
#$(MUTATEES_NATIVE_CXX): test%.mutatee_$(NATIVE_CXX) : test%.mutatee.c mutatee_util_$(NATIVE_CXX).o
#	$(NATIVE_CXX) $(MUTATEE_CXXFLAGS_NATIVE) -o $@ $(filter %.c %.s %.S %.o,$^) $(MUTATEE_LDFLAGS_NATIVE) $(MUTATEE_LIBS) \
#            $(subst $*.,,$(filter $*.%, $(MUTATEE_SPECIFIC_LIBS_NATIVE)))

#$(MUTATEES_NATIVE_CXX_ONLY): test%.mutatee_$(NATIVE_CXX) : test%.mutatee.C mutatee_util_$(NATIVE_CXX).o
#	$(NATIVE_CXX) $(MUTATEE_CXXFLAGS_NATIVE) -o $@ $(filter %.C %.s %.S %.o,$^) $(MUTATEE_LDFLAGS_NATIVE) $(MUTATEE_LIBS) \
#            $(subst $*.,,$(filter $*.%, $(MUTATEE_SPECIFIC_LIBS_NATIVE)))
#endif


# Native Fortran mutatees
# 
# There is no real advantage to generality here since there is only one fortran mutatee
# (ie for test1), thus all constituent files are built explicitly

ifdef NATIVE_FC 
test1.mutatee_$(NATIVE_FC).o: ../src/test1.mutateeFort.F
	$(NATIVE_FC) -g  $(MUTATEE_NATIVE_FFLAGS) -c -o $@ $^ 
test1.mutateeFortC_$(NATIVE_FC).o: ../src/test1.mutateeFortC.c
	$(NATIVE_FORTRAN_CC) $(MUTATEE_NATIVE_FC_CFLAGS) -c $(filter %.c,$^) -o $@

$(MUTATEES_NATIVE_FC): test%.mutatee_$(NATIVE_FC) : test%.mutatee_$(NATIVE_FC).o test1.mutateeFortC_$(NATIVE_FC).o test1.mutateeCommon_$(NATIVE_FORTRAN_CC).o mutatee_util_$(NATIVE_FORTRAN_CC).o $(DEPENDDIR)/test%.mutatee_$(NATIVE_FC).dep
	$(NATIVE_FC) -o $@ $(filter %.o,$^) $(MUTATEE_NATIVE_FC_LDFLAGS) $(MUTATEE_LIBS) 
endif

# Native OpenMP mutatees
# There is no real advantage to generality here since there is only one OpenMP mutatee
# (ie for test16), thus all constituent files are built explicitly
ifdef NATIVE_CXX_OMP 
test16.mutatee_$(NATIVE_CXX_OMP).o: ../src/test16.mutatee.c
	$(NATIVE_CXX_OMP) -g  $(MUTATEE_NATIVE_CXX_CFLAGS) -o $@ $^ 

$(MUTATEES_NATIVE_CXX_OMP): test%.mutatee_$(NATIVE_CXX_OMP) : test%.mutatee_$(NATIVE_CXX_OMP).o $(DEPENDDIR)/test%.mutatee_$(NATIVE_CXX_OMP).dep
	$(NATIVE_CXX_OMP) $(MUTATEE_NATIVE_CXX_OMP_LDFLAGS) -o $@ $(filter %.o,$^) $(MUTATEE_LIBS) 

#$(MUTATEES_NATIVE_CXX_OMP): ../src/test16.mutatee.c
#	$(NATIVE_CXX_OMP) -g  $(MUTATEE_NATIVE_CXX_CFLAGS) -o $@ $^ 

endif


# Install directory
$(TEST_DEST): 
	mkdir $(TEST_DEST)

#######################################################################
###  Generic Mutator build rule:
###
###  resorts to pattern matching test% (matches test1, test2, ... etc)
###  to generate correct, minimal set of prerequisites for each test.
###  It would be nicer to just match something simpler that wasn't 
###  name-dependant, but gnu make is not making this easy.
###
#######################################################################

$(OBJS_ALL_MUTATORS): %.o : %.C $(DEPENDDIR)/%.dep
#	echo "***OBJS_ALL_MUTATOR***"
	$(CXX) -c -o $@ -fPIC $(CXXFLAGS) -I../src/ ../src/$*.C

# Generic build rule for generated files.  I'm not real happy with this, but
# I certainly don't want to put them in the main source directory, and we need
# to find them somehow.
# %.gen.o: %.gen.C
# 	echo "***%.gen.o***"
# 	$(CXX) -c -o $@ -fPIC $(CXXFLAGS) -I../src/ $*.gen.C

MUTATEE_DEFS := -Dgnu_cc=_gcc -Dgnu_cxx=_g++

ifdef M_ABI
MUTATEE_DEFS += -Dgnu_abi_cc=_gcc_$(M_ABI) -Dgnu_abi_cxx=_g++_$(M_ABI) -Dm_abi
endif

ifdef M_G77
MUTATEE_DEFS += -Dgnu_fc=_g77
endif

ifdef NATIVE_CC
MUTATEE_DEFS += -Dnative_cc=_$(NATIVE_CC)
endif

ifdef NATIVE_CXX
MUTATEE_DEFS += -Dnative_cxx=_$(NATIVE_CXX)
endif

ifdef NATIVE_FC
MUTATEE_DEFS += -Dnative_fc=_$(NATIVE_FC)
endif

runTests.o: ../src/runTests.C $(DEPENDDIR)/runTests.dep
	$(CXX) -c -o $@ $(CXXFLAGS) $(MUTATEE_DEFS) ../src/runTests.C
runTests_static.o: ../src/runTests.C $(DEPENDDIR)/runTests.dep
	$(CXX) -c -o $@ $(CXXFLAGS) $(MUTATEE_DEFS) -DSTATIC_TEST_DRIVER ../src/runTests.C

runTests-utils.o: ../src/runTests-utils.C $(DEPENDDIR)/runTests-utils.dep
	$(CXX) -c -o $@ $(CXXFLAGS) $(MUTATEE_DEFS) ../src/runTests-utils.C

runTests: runTests.o runTests-utils.o test_driver_templates.o 
	$(CXX) $(CXXFLAGS) -o $@ runTests.o runTests-utils.o test_driver_templates.o 
runTests_static: runTests_static.o runTests-utils.o test_driver_templates.o 
	$(CXX) $(CXXFLAGS) -o runTests runTests_static.o runTests-utils.o test_driver_templates.o 

test_driver.o: ../src/test_driver.C $(DEPENDDIR)/test_driver.dep
	$(CXX) -c -o $@ $(CXXFLAGS) $(MUTATEE_DEFS) ../src/test_driver.C

test_driver_static.o: ../src/test_driver.C $(DEPENDDIR)/test_driver_static.dep
	$(CXX) -c -o $@ -DSTATIC_TEST_DRIVER $(CXXFLAGS) $(MUTATEE_DEFS) ../src/test_driver.C

test_driver: test_driver.o test_driver_templates.o test_info_new.gen.o $(DEPENDDIR)/test_driver.dep $(LIBTESTSUITE)
	$(CXX) -o $@ test_driver.o test_driver_templates.o test_info_new.gen.o $(MUTATOR_LDFLAGS) $(LIBS)

#$(MUTATORS_SO): test%.so : test%.o $(OBJS_FORALL_MUTATORS) $(DEPENDDIR)/test%.dep $(LIBTESTSUITE)
#	echo "*** Building mutator $<"
#	$(CXX) -o $@ -shared $(filter %.o,$^) $(MUTATOR_SO_LDFLAGS) $(LIBDIR) $(LIBS) $(LDFLAGS) 
#ifndef NO_OPT_FLAG
#ifdef STRIP_SO
#	$(STRIP_SO) $@
#endif
#endif


######################################################################
### Output Drivers
######################################################################

OUTPUT_DRIVERS = DatabaseOutputDriver.so

DatabaseOutputDriver.o : ../src/DatabaseOutputDriver.C # $(DEPENDDIR)/DatabaseOutputDriver.dep
#	@echo "***Using DatabaseOutputDriver rule***"
	$(M_GXX) -c -o $@ -fPIC $(CXXFLAGS) -I../src/ ../src/$*.C

# FIXME DatabaseOutputDriver.so depends on libtestSuite
DatabaseOutputDriver.so: DatabaseOutputDriver.o # $(DEPENDDIR)/DatabaseOutputDriver.dep
	$(CXX) -o $@ -shared $(filter %.o,$^) $(MUTATOR_SO_LDFLAGS) $(LIBDIR) $(LIBS) $(LDFLAGS)
ifndef NO_OPT_FLAG
ifdef STRIP_SO
	$(STRIP_SO) $@
endif
endif

.PHONY: output_drivers
output_drivers: $(OUTPUT_DRIVERS)

#######################################################################
###  Depends
#######################################################################

DEPS_MUTATORS 		+= $(addprefix $(DEPENDDIR)/,$(addsuffix .dep,$(MUTATORS)))
DEPS_MUTATORS		+= $(addprefix $(DEPENDDIR)/,$(addsuffix .dep,$(FORALL_MUTATORS)))
DEPS_MUTATORS           += $(DEPENDDIR)/test_driver.dep
DEPS_MUTATORS           += $(DEPENDDIR)/runTests.dep $(DEPENDDIR)/runTests-utils.dep

DEPS_MUTATEES_GCC	+= $(addprefix $(DEPENDDIR)/,$(addsuffix _gcc.dep, $(MUTATEES_C)))
DEPS_MUTATEES_GXX	+= $(addprefix $(DEPENDDIR)/,$(addsuffix _g++.dep, $(MUTATEES_CXX)))
DEPS_MUTATEES_GXX	+= $(addprefix $(DEPENDDIR)/,$(addsuffix _g++.dep, $(MUTATEES_CXX_ONLY)))
DEPS_TESTLIBS	 	+= $(addprefix $(DEPENDDIR)/,$(addsuffix .dep,$(TESTLIB_STEMS)))
DEPS_TESTLIBS		+= $(DEPENDDIR)/libTest12.dep
DEPS_LIBTESTSUITE        = $(addprefix $(DEPENDDIR)/,$(SRCS_LIBTESTSUITE:%.C=%.dep))

ifdef M_G77
DEPS_MUTATEES_G77	+= $(addprefix $(DEPENDDIR)/,$(addsuffix _g77.dep, $(MUTATEES_FORTRAN)))
endif

ifdef NATIVE_FC
DEPS_MUTATEES_NATIVE_FC	+= $(addprefix $(DEPENDDIR)/,$(addsuffix _$(NATIVE_FC).dep, $(MUTATEES_FORTRAN)))
endif

ifdef NATIVE_CXX_OMP
DEPS_MUTATEES_NATIVE_CXX_OMP += $(addprefix $(DEPENDDIR)/,$(addsuffix _$(NATIVE_CXX_OMP).dep, $(MUTATEES_OPENMP)))
endif

ifdef NATIVE_CC
DEPS_MUTATEES_NATIVE_CC	+= $(addprefix $(DEPENDDIR)/,$(addsuffix _$(NATIVE_CC).dep, $(MUTATEES_C)))
endif

ifdef NATIVE_CXX
DEPS_MUTATEES_NATIVE_CXX += $(addprefix $(DEPENDDIR)/,$(addsuffix _$(NATIVE_CXX).dep, $(MUTATEES_CXX)))
DEPS_MUTATEES_NATIVE_CXX += $(addprefix $(DEPENDDIR)/,$(addsuffix _$(NATIVE_CXX).dep, $(MUTATEES_CXX_ONLY)))
endif


depend: $(DEPS_MUTATORS)

depend_dir:
	@echo "mut deps: $(DEPS_MUTATORS)"
	@if [ -d $(DEPENDDIR) ]; then \
          echo "Directory \"$(DEPENDDIR)\" already exists..."; \
         else \
          mkdir -p $(DEPENDIR); \
          echo "Made \"$(DEPENDDIR)\" directory..."; \
         fi

$(DEPENDDIR)/test_driver_static.dep: test_driver.C
	@mkdir -p $(DEPENDDIR)
	$(DEPCC) $(CXXFLAGS) $< $(MUTATOR_CXXFLAGS) -DSTATIC_TEST_DRIVER $(DEPENDFLAGS) $*.o > $@

$(DEPS_MUTATORS): $(DEPENDDIR)/%.dep : %.C
#	@echo "***Using deps_mutators rule***"
	@mkdir -p $(DEPENDDIR)
	$(DEPCC) $(CXXFLAGS) $< $(MUTATOR_CXXFLAGS) $(DEPENDFLAGS) $*.o > $@

$(DEPS_MUTATEES_GCC): $(DEPENDDIR)/test%.mutatee_gcc.dep : test%.mutatee.c $(SRCS_FORALL_MUTATEES)
	@mkdir -p $(DEPENDDIR)
	$(M_GCC) $(CFLAGS) $< $(MUTATEE_CFLAGS) $(DEPENDFLAGS) test$*.mutatee_gcc.o > $@

$(DEPS_MUTATEES_GXX): $(DEPENDDIR)/test%.mutatee_g++.dep : $(wildcard test%.mutatee.*) $(SRCS_FORALL_MUTATEES)
	@mkdir -p $(DEPENDDIR)
	$(M_GXX) $(CXXFLAGS) $< $(MUTATEE_CXXFLAGS) $(DEPENDFLAGS) test$*.mutatee_gxx.o > $@

$(DEPS_MUTATEES_G77): $(DEPENDDIR)/test%.mutatee_g77.dep : test%.mutateeFort.F $(SRCS_FORALL_MUTATEES)
	@mkdir -p $(DEPENDDIR)
	$(M_G77) $(CFLAGS) $< $(MUTATEE_CFLAGS) $(DEPENDFLAGS) test$*.mutateeFort_g77.o > $@


# Use gcc to generate deps for native compilers

ifdef NATIVE_CC
$(DEPS_MUTATEES_NATIVE_CC): $(DEPENDDIR)/test%.mutatee_$(NATIVE_CC).dep : test%.mutatee.c $(SRCS_FORALL_MUTATEES)
	@mkdir -p $(DEPENDDIR)
	$(M_GCC) $(CFLAGS) $< $(MUTATEE_CFLAGS) $(DEPENDFLAGS) test$*.mutatee_$(NATIVE_CC).o > $@
endif

ifdef NATIVE_CXX
$(DEPS_MUTATEES_NATIVE_CXX): $(DEPENDDIR)/test%.mutatee_$(NATIVE_CXX).dep : $(wildcard test%.mutatee.*) $(SRCS_FORALL_MUTATEES)
	@mkdir -p $(DEPENDDIR)
	$(M_GXX) $(CXXFLAGS) $< $(MUTATEE_CXXFLAGS) $(DEPENDFLAGS) test$*.mutatee_$(NATIVE_CXX).o > $@
endif

ifdef NATIVE_FC
$(DEPS_MUTATEES_NATIVE_FC): $(DEPENDDIR)/test%.mutatee_$(NATIVE_FC).dep : test%.mutateeFort.F $(SRCS_FORALL_MUTATEES)
	@mkdir -p $(DEPENDDIR)
	$(M_G77) $(CFLAGS) $< $(MUTATEE_CFLAGS) $(DEPENDFLAGS) test$*.mutateeFort_$(NATIVE_FC).o > $@
endif

ifdef NATIVE_CXX_OMP
$(DEPS_MUTATEES_NATIVE_CXX_OMP): $(DEPENDDIR)/test%.mutatee_$(NATIVE_CXX_OMP).dep : test%.mutatee.c $(SRCS_FORALL_MUTATEES)
	@mkdir -p $(DEPENDDIR)
	$(M_GXX) $(CFLAGS) $< $(MUTATEE_CFLAGS) $(DEPENDFLAGS) test$*.mutatee_$(NATIVE_CXX_OMP).o > $@
endif


$(DEPS_TESTLIBS): $(DEPENDDIR)/lib%.dep : lib%.c 
	@mkdir -p $(DEPENDDIR)
	$(DEPCC) $(CXXFLAGS) -I$(TO_CORE)/dyninstAPI_RT/h $< $(MUTATOR_CXXFLAGS) $(DEPENDFLAGS) lib$*.so > $@

$(DEPS_LIBTESTSUITE): $(DEPENDDIR)/%.dep : %.C
	@mkdir -p $(DEPENDDIR)
	$(DEPCC) $(CXXFLAGS) -I$(TO_CORE)/dyninstAPI_RT/h $< $(MUTATOR_CXXFLAGS) $(DEPENDFLAGS) $*.o > $@


# do not include dep files for "clean" targets
ifneq ($(MAKECMDGOALS),clean)
ifneq ($(MAKECMDGOALS),distclean)
ifneq ($(MAKECMDGOALS),echo)

-include $(DEPS_MUTATORS)
# -include $(DEPS_MUTATEES_GCC)
# -include $(DEPS_MUTATEES_GXX)
# -include $(DEPS_TESTLIBS)

ifdef M_G77
# -include $(DEPS_MUTATEES_G77)
endif

ifdef NATIVE_CC
# -include $(DEPS_MUTATEES_NATIVE_CC)
endif

ifdef NATIVE_CXX
-include $(DEPS_MUTATEES_NATIVE_CXX)
endif

ifdef NATIVE_FC
-include $(DEPS_MUTATEES_NATIVE_FC)
endif

ifdef NATIVE_CXX_OMP
-include $(DEPS_MUTATEES_NATIVE_CXX_OMP)
endif

endif
endif
endif
