#
# Common makefile template for igen.  This file is not intended to
# be a useful Makefile in isolation; instead, it should be included
# from within an architecture-specific Makefile.
#
# $Id: make.module.tmpl,v 1.9 2002/04/09 18:05:05 mjbrim Exp $
#

USES_FLEX = true

TARGET	      = igen

SRCS 	     += \
		../src/arg.C \
		../src/type_defn.C \
		../src/remote_func.C \
		../src/message_layer.C \
		../src/Options.C \
		../src/interface_spec.C \
		../src/signature.C \
		../src/templates.C \
		../src/main.C \
		parser.C \
		scanner.C

LIBS 	     += -lpdutil
SYSLIBS	     += $(FLEX_LIB)

ifdef CROSSCOMPILER
SYSLIBS      += -lstdc++
endif

CXXFLAGS     += $(USEFULWARNINGS) 
TFLAGS       += $(USEFULWARNINGS) 

IFLAGS       += -I../$(PLATFORM) -I../src

all:	$(TARGET)

templates.o: ../src/templates.C 
	$(CXX) $(TFLAGS) -c ../src/templates.C
