#
# Common makefile template for igen.  This file is not intended to
# be a useful Makefile in isolation; instead, it should be included
# from within an architecture-specific Makefile.
#
# $Id: make.module.tmpl,v 1.7 1998/04/01 02:51:50 wylie Exp $
#

USES_FLEX = true

TARGET	      = igen

SRCS 	     += ../src/main.C \
		parser.C \
		scanner.C \
		../src/interface_spec.C \
	        ../src/templates.C 

LIBS 	     += -lpdutil
SYSLIBS	     += $(FLEX_LIB)

ifdef CROSSCOMPILER
SYSLIBS      += -lstdc++
endif

CXXFLAGS       += $(USEFULWARNINGS) 

all:	$(TARGET)

templates.o: ../src/templates.C 
	$(CXX) $(TFLAGS) $(USEFULWARNINGS) -c ../src/templates.C
