#
# Common makefile template for igen.  This file is not intended to
# be a useful Makefile in isolation; instead, it should be included
# from within an architecture-specific Makefile.
#
# $Id: nmake.module.tmpl,v 1.5 1998/03/02 00:19:35 wylie Exp $
#

USES_FLEX = TRUE

TARGET	      = igen.exe

#SRCS 	     = $(SRCS) ../src/main.C \
#		parser.C \
#		scanner.C \
#		../src/interface_spec.C \
#	        ../src/templates-nt.C 

OBJS 		= main.obj parser.obj scanner.obj interface_spec.obj \
                        templates-nt.obj

LIBS 	     = $(LIBS) $(LIBRARY_DEST)\libpdutil.lib

SYSLIBS = p:\paradyn\packages\winnt\lib\libfl.lib


all:	$(TARGET)

parser.obj:
	$(YACC) $(YFLAGS) ../src/$*.y
	$(RM) $*.C
	move y.tab.c $*.C
	$(CXX) $(CXXFLAGS) -I../src -c $*.C

scanner.obj:
	$(LEX) -t $(LFLAGS) ../src/$*.l >scanner.C
	$(CXX) $(CXXFLAGS) -I../src -c $*.C

