#
# Common makefile template for phaseTable.  This file is not intended to
# be a useful Makefile in isolation; instead, it should be included
# from within an architecture-specific Makefile.
#
# $Id: make.module.tmpl,v 1.2 2001/11/02 16:05:26 pcroth Exp $
#

TARGET	      = termWin

SRCS	     += ../../../paradyn/src/UIthread/pdLogo.C \
		../../../paradyn/src/UIthread/tkTools.C \
		../../../paradyn/src/UIthread/minmax.C \
		../src/templates.C \
		../src/main.C

VPATH 	     += ../../../paradyn/src/UIthread \
		../../tclVisi/src \
		../../../paradyn/h

IFLAGS	     += -I../../../paradyn/src/UIthread

IGEN_GEN_SRCS	= termWin.xdr.SRVR.C \
					termWin.xdr.C

IGEN_ISRCS	= termWin.I

# if $(TO_CORE)/visi doesn't exist, then the -I$(TO_CORE) automatically
# inserted by make.config won't be enough for the compiler to find,
# say, visi/h/visualization.h.  We don't want to force the user to have
# "visi" checked out in order to compile phaseTable.
IFLAGS	+= $(shell if [ -d $(TO_CORE)/visi ]; then echo ""; else echo -I$(BACKUP_CORE); fi )

TCL_SRCS        = ../tcl/termWin.tcl

SRCS		+= $(TCL2C_GEN_SRCS)

LIBS         += -lpdutilOld -lpdthread
SYSLIBS	     += $(TCLTK_LIBS) $(X11_LIB) -lm

ifdef CROSSCOMPILER
SYSLIBS		+= -lstdc++
endif

all: $(TARGET)

templates.o: ../src/templates.C
	$(CXX) $(TFLAGS) -c ../src/templates.C

$(TCL2C_GEN_SRCS): $(TCL_SRCS)
	$(PERL) $(TCL2C) $^ > $@
