#
# Common makefile template for phaseTable.  This file is not intended to
# be a useful Makefile in isolation; instead, it should be included
# from within an architecture-specific Makefile.
#
# $Id: nmake.module.tmpl,v 1.2 2002/02/15 18:35:34 pcroth Exp $
#

TARGET	= termWin.exe

IFLAGS	= $(IFLAGS) -I../../../paradyn/src/UIthread


TCL_SRCS	= ../tcl/termWin.tcl
PD_SRCS	= ../../../paradyn/src/UIthread/pdLogo.C \
		../../../paradyn/src/UIthread/tkTools.C \
		../../../paradyn/src/UIthread/minmax.C
MY_SRCS	= ../src/templates.C \
		../src/main.C \
		../src/main-nt.C
SRCS	= $(SRCS) $(PD_SRCS) $(MY_SRCS) $(TCL2C_GEN_SRCS)


PD_TMPO	= $(PD_SRCS:../../../paradyn/src/UIthread/=)
MY_TMPO	= $(MY_SRCS:../src/=)
OBJS	= $(OBJS) \
		$(PD_TMPO:.C=.obj) \
		$(MY_TMPO:.C=.obj) \
		$(TCL2C_GEN_SRCS:.C=.obj)


LIBS	= $(LIBS) libpdutil.lib libpdthread.lib
SYSLIBS	= $(SYSLIBS) $(TCLTK_LIBS) $(X11_LIB) $(RPC_LIB)

all: $(TARGET)

$(TCL2C_GEN_SRCS): $(TCL_SRCS)
	$(PERL) $(TCL2C) $** > $@

{$(TO_CORE)\paradyn\src\UIthread}.C{}.obj:
	$(CXX) $(CXXFLAGS) -c $<

{..\..\tclVisi\src}.C{}.obj:
	$(CXX) $(CXXFLAGS) -c $<


