#
# Common makefile template for rtinst library.  This file is not
# intended to be a useful Makefile in isolation; instead, it should be
# included from within an architecture-specific Makefile.
#
# $Id: make.module.tmpl,v 1.3 2005/09/28 17:02:37 bernat Exp $
#

ifndef TARGET
TARGET		= libsharedMutatee.so.1
endif

MODCC         = $(CC)
MODCFLAGS     = $(CFLAGS)

all: $(TARGET) $(EXTRA_LIBS)

#OBJS =		$(patsubst %.C, %.o, $(filter %.C,$(notdir $(SRCS)))) \
#		$(patsubst %.c, %.o, $(filter %.c,$(notdir $(SRCS)))) \
#		$(patsubst %.s, %.o, $(filter %.s,$(notdir $(SRCS)))) \
#		$(patsubst %.S, %.o, $(filter %.S,$(notdir $(SRCS)))) \
#		$(IGEN_GEN_SRCS:%.C=%.o)

#
# override standard install rule; provide a default DEST if not already set
#
ifndef DEST
DEST		= $(TO_CORE)/$(LIBRARY_DEST)
endif

