#
# Common makefile template for rtinst library.  This file is not
# intended to be a useful Makefile in isolation; instead, it should be
# included from within an architecture-specific Makefile.
#
# $Id: make.module.tmpl,v 1.2 2005/02/10 20:39:16 jaw Exp $
#

ifndef TARGET
TARGET		= libsharedMutatee.o
endif

TARGET3_SO	= libsharedMutatee.so.1

MODCC         = $(CC)
MODCFLAGS     = $(CFLAGS)

#all: $(TARGET) $(TARGET2) 
all: $(TARGET3_SO) $(TARGET2)

#OBJS =		$(patsubst %.C, %.o, $(filter %.C,$(notdir $(SRCS)))) \
#		$(patsubst %.c, %.o, $(filter %.c,$(notdir $(SRCS)))) \
#		$(patsubst %.s, %.o, $(filter %.s,$(notdir $(SRCS)))) \
#		$(patsubst %.S, %.o, $(filter %.S,$(notdir $(SRCS)))) \
#		$(IGEN_GEN_SRCS:%.C=%.o)

#
# override standard install rule; provide a default DEST if not already set
#
ifndef DEST
DEST		= $(TO_CORE)/$(LIBRARY_DEST)
endif

