#
# Common makefile template for tclVisi.  This file is not intended to
# be a useful Makefile in isolation; instead, it should be included
# from within an architecture-specific Makefile.
#
# $Log: make.module.tmpl,v $
# Revision 1.9  1996/02/23 17:50:34  tamches
# now don't need to have visilib checked out to compile tclVisi
#
# Revision 1.8  1996/01/17 18:32:29  newhall
# changes due to new visiLib
#
# Revision 1.7  1995/12/01 06:41:57  tamches
# added new SRCS: pdLogo.C, tkTools.C, minmax.C; updated
# VPATH and IFLAGS to match
#
# Revision 1.6  1995/07/06 16:06:10  newhall
# removed -static flag
#
# Revision 1.5  1995/07/06  01:55:23  newhall
# update for Tcl-7.4, Tk-4.0
#
# Revision 1.4  1995/03/20  19:37:03  jcargill
# Fixed uses of libutil that were missed in the renaming.
#
# Revision 1.3  1995/02/26  02:01:57  newhall
# added callback functions for new visiLib phase info.
#
# Revision 1.2  1995/01/30  21:23:03  jcargill
# Removed BLT from the LIBS list; no longer used
#
# Revision 1.1  1995/01/30  18:12:20  jcargill
# Major build system reorganization
#
#

TARGET	      = tclVisi

SRCS	     += ../../../paradyn/src/UIthread/pdLogo.C \
		../../../paradyn/src/UIthread/tkTools.C \
		../../../paradyn/src/UIthread/minmax.C \
		../src/tclVisi.C \
		../src/templates.C \
		../src/DGclient.C

VPATH 	     += ../../../paradyn/src/UIthread

IFLAGS	     += -I../../../util/h \
		-I../../../paradyn/src/UIthread

# if $(TO_CORE)/visi doesn't exist, then the -I$(TO_CORE) automatically
# inserted by make.config won't be enough for the compiler to find,
# say, visi/h/visualization.h.  We don't want to force the user to have
# "visi" checked out in order to compile tclVisi.
IFLAGS	+= $(shell if [ -d $(TO_CORE)/visi ]; then echo ""; else echo -I/p/paradyn/core; fi )

LIBS         += -lvisi -lhist -lpdutil 
SYSLIBS      += -ltk -ltcl -lX11 -lm


all: $(TARGET)

templates.o: ../src/templates.C
	$(CXX) $(TFLAGS) -c ../src/templates.C
