#
# $Log: make.module.tmpl,v $
# Revision 1.3  1996/01/17 18:15:43  tamches
# removed unneeded libs from SYSLIBS
#
# Revision 1.2  1995/12/20 02:10:56  tamches
# removed TCL2C and TCL2C_GEN_SRCS (now in make.config)
#
# Revision 1.1  1995/12/15 22:01:37  tamches
# first version of phaseTable
#
#

TARGET	      = phaseTable

SRCS	     += ../../../paradyn/src/UIthread/pdLogo.C \
		../../../paradyn/src/UIthread/tkTools.C \
		../../../paradyn/src/UIthread/minmax.C \
		../../tclVisi/src/DGclient.C \
		../src/templates.C \
		../src/main.C \

VPATH 	     += ../../../paradyn/src/UIthread \
		../../tclVisi/src

IFLAGS	     += -I../../../util/h \
		-I../../../paradyn/src/UIthread

# if $(TO_CORE)/visi doesn't exist, then the -I$(TO_CORE) automatically
# inserted by make.config won't be enough for the compiler to find,
# say, visi/h/visualization.h.  We don't want to force the user to have
# "visi" checked out in order to compile phaseTable.
IFLAGS	+= $(shell if [ -d $(TO_CORE)/visi ]; then echo ""; else echo -I/p/paradyn/core; fi )

TCL_SRCS        = $(wildcard ../tcl/*.tcl)
SRCS		+= $(TCL2C_GEN_SRCS)

LIBS         += -lvisi -lhist -lpdutil 
SYSLIBS	     += -ltk -ltcl -lX11 -lm

all: $(TARGET)

templates.o: ../src/templates.C
	$(CXX) $(TFLAGS) -c ../src/templates.C

$(TCL2C_GEN_SRCS): $(TCL_SRCS)
	$(TCL2C) $^ > $@
