make.config.local
nmake.config.local
DEPENDS
*.o
*.so
*.so.?.?
*.so.?.?.?
*.a
*.tlog
*.log
*.rc
*.filters
*.lastbuildstate
V_*
*.obj
*.ilk
*.ncb
*.dll
*.exe
*.pdb
*.suo
*.exp
*.lib
*.idb
*.manifest
*.manifest.res
*.user
*.rsp
*.dep
*.dep
*~
*.he
*_none
.nfs*
BuildLog.htm
*resumelog*
._*resumelog
dyninst.kdev*
config.status
test/*
autodyninst/autom4te.cache/*
autom4te.cache/*
testsuite/*/binaries/*
parseThat/*/Makefile
parseThat/*/parseThat
instructionAPI/doc/latex/annotated.tex
instructionAPI/doc/latex/doxygen.sty
instructionAPI/doc/latex/hierarchy.tex
instructionAPI/doc/latex/index.tex
instructionAPI/doc/latex/modules.tex
instructionAPI/doc/html
instructionAPI/doc/.gitignore
patchAPI/doc/patchapi.aux
patchAPI/doc/patchapi.log
patchAPI/doc/patchapi.out
patchAPI/doc/patchapi.toc
test.sh
autodyninst/configure
config.log
# For Windows
_UpgradeReport_Files/*
*.tlog
*.lastbuildstate
*.cache
*.log
*_manifest.rc
*.orig
\#*\#
callgrind.out.*
cscope.*
luftags
tags
*.VC.db
*.VC.opendb
*.sdf
*.opensdf
*.suo
*.sln
*.vcxproj
*.vcxproj.user
ipch/*
*.swp
*.swo
*.swn
.__afs*
*patch
*.diff
*.msi
*.tlog
*/CMakeFiles
lib*.so*
lib*.a
CMakeFiles
CMakeCache.txt
cmake_install.cmake
*/cmake_install.cmake
Makefile
*/Makefile
*.eps
*log.*
*.rej
install_manifest.txt
binutils
libelf
libdwarf
*.aux
*.dvi
*.toc
*.out
CHANGELOG
*.bak
massif.out.*
DyninstAPI*.tgz
common/h/dyninstversion.h
Doxyfile
doxyfiles/*
*.dir/
*/Debug/
*/Release/
.idea/*
.vscode/*
build*/
cmake-build-*/
.project
.cproject
.settings
.pydevproject
*__pycache__*
