CMakeFiles
Makefile
CMakeCache.txt
*.so
*#*
cmake_install.cmake
*.VC.db
*.VC.opendb
*.vcxproj*
*.sln
*.lib
*.exp
*.ilk
*.dll
*.pdb
*.obj
*.o
*.pyc
*.dyn_g++_64_none_none
*.dyn_gcc_64_none_none
binaries
test_names.txt
*.dir/
.vs
Debug
Win32
