#
# $Id: make.platform.tmpl,v 1.13 2008/02/19 13:36:40 rchen Exp $
# make.platform.tmpl: toplevel, platform-specific make configuration
#

ifdef USES_NATIVE_CC
### filter non-native flags
# -fno-implicit-templates
# -fexternal-templates
# -fPIC
# $(BASICWARNINGS)
# $(COMMONWARNINGS)
# $(USEFULWARNINGS)
# $(TCLFRIENDLYWARNINGS)
CFLAGS          := $(filter-out -f%,$(CFLAGS))
CXXFLAGS        := $(filter-out -f%,$(CXXFLAGS))
KFLAGS          := $(filter-out -f%,$(KFLAGS))
TFLAGS          := $(filter-out -f%,$(TFLAGS))
CFLAGS          := $(filter-out -W%,$(CFLAGS))
CXXFLAGS        := $(filter-out -W%,$(CXXFLAGS))
KFLAGS          := $(filter-out -W%,$(KFLAGS))
TFLAGS          := $(filter-out -W%,$(TFLAGS))
#LIBS            := $(filter-out -lstdc++,$(LIBS))
SYSLIBS         := $(filter-out -lstdc++,$(SYSLIBS))
ifeq (solaris,$(findstring solaris,$(PLATFORM)))
DEPENDFLAGS     := $(subst -MM,-xM,$(DEPENDFLAGS))
else
DEPENDFLAGS     := $(subst -MM,-M,$(DEPENDFLAGS))
endif
endif

### sparc-sun-solaris2.8 flags
ifdef SOLARIS_NATIVE
ifeq (solaris,$(findstring solaris,$(PLATFORM)))

DEPENDFLAGS     = -xM1

CC            = $(NATIVE_CC)
CXX           = $(NATIVE_CXX)
MODCC         = $(NATIVE_CXX)
LD            = $(NATIVE_CXX)

NATIVE_FLAGS    += -DUSES_NATIVE_CC

CFLAGS          += $(NATIVE_FLAGS)
CXXFLAGS        += $(NATIVE_FLAGS) $(NATIVE_CXXFLAGS)
TFLAGS          += $(NATIVE_FLAGS) $(NATIVE_CXXFLAGS)
KFLAGS          += $(NATIVE_FLAGS) $(NATIVE_CXXFLAGS)

endif  # sparc-sun-solaris2.8
endif  # SOLARIS_NATIVE

# AIX 5.1 xlC/xlc
ifeq (ibm-aix,$(findstring ibm-aix,$(PLATFORM)))
ifdef XLC_BUILD
CC              = $(NATIVE_CC)
CXX             = $(NATIVE_CXX)
MODCC           = $(NATIVE_CXX)
XLC_TEMPLATE_PARAMETERS =
LD              = xlC -bdynamic -bnoentry -bbigtoc -bloadmap:loadmap $(XLC_TEMPLATE_PARAMETERS) -qmkshrobj -G
NATIVE_FLAGS    += -qhalt=E -D__XLC__ -qro
CFLAGS          += $(NATIVE_FLAGS) -qcpluscmt -qmkshrobj -qstaticinline
CXXFLAGS        += $(NATIVE_FLAGS) $(NATIVE_CXXFLAGS) $(XLC_TEMPLATE_PARAMETERS) -qrtti=all -qmkshrobj -qstaticinline 

TFLAGS          += $(NATIVE_FLAGS) $(NATIVE_CXXFLAGS) $(XLC_TEMPLATE_PARAMETERS)KFLAGS          += $(NATIVE_FLAGS) $(NATIVE_CXXFLAGS) $(XLC_TEMPLATE_PARAMETERS)
endif #AIX_USE_XLC
endif #IBM-AIX
