
IFLAGS          = -I. -I../.. 

ifdef USES_PVM
IFLAGS += -I/var/home/paradyn/packages/pvm3-dyn/include
endif

SUFFIX          = .C:sC

VPATH		= ../src:../../../lib/$(PLATFORM)

LIBDIR		= -L../../../lib/$(PLATFORM) -L/var/home/paradyn/lib/$(PLATFORM)
ifdef USES_PVM
LIBDIR += -L/var/home/paradyn/packages/pvm3-dyn/lib/$(PLATFORM)
endif

YFLAGS		= -d

.SUFFIXES: .I .c .C .o

DEST          = .

CFLAGS          = $(IFLAGS) -g -Wall

CC              = g++

.C.o:
	$(CC) -c $(CFLAGS) $<

PATH	+=:../../../bin/$(PLATFORM):$(CVSROOT)/../bin/$(PLATFORM)
