#
# $Log: make.config,v $
# Revision 1.15  1995/02/27 17:34:10  jcargill
# Simplified setting of ARCH_DEF, include a local config file, removed
# explicit gcc path bogusness
#
# Revision 1.14  1995/02/16  07:55:28  markc
# Added flags for template and kludge files.
# Added automatic generation of architecture defines (-Dsparc_sun_sunos4.1.3, etc)
# Added inline defines to generate stl code properly.
#
# Revision 1.13  1995/01/30  20:42:44  jcargill
# Fixed error; use CXX rather then CC++
#
# Revision 1.12  1995/01/30  18:08:15  jcargill
# Major build system reorganization
#
# Revision 1.11  1994/09/30  19:21:07  rbi
# itty bitty typo fix
#
# Revision 1.10  1994/06/29  03:02:45  hollings
# AFS file paths
# added -fexternal-templates to CFLAGS
#
# Revision 1.9  1994/05/17  00:20:37  hollings
# added default baselined lib to VPATH
#
#
#

AS		= /bin/as
CC		= gcc
CXX		= g++
LEX		= flex
RANLIB		= ranlib
YFLAGS		= -d -y
YACC		= bison

ifeq ($(PLATFORM),sparc-sun-solaris2.3)
AS		= /usr/ccs/bin/as
RANLIB		= true
endif

ifdef PLATFORM
ARCH_DEF	= -D$(shell echo $$PLATFORM | perl -pe 's/\./_/g;s/-/_/g')
else
ERROR PLATFORM MUST BE DEFINED IN ORDER TO BUILD PARADYN
endif

# most "main" modules are only two levels deep, but we need to be able to
# change this for those that are deeper in the tree
ifndef TO_CORE
TO_CORE		= ../..
endif

# Default module compiler; modules which want $(CC) should redefine
# this, **NOT** CC

MODCC		= $(CXX)
MODCFLAGS	= $(CXXFLAGS)


.SUFFIXES:	.I

# VPATH		= ../src:$(TO_CORE)/../lib/$(PLATFORM):/p/paradyn/lib/$(PLATFORM)

IFLAGS          = -I. -I$(TO_CORE)

ASFLAGS         = -P $(IFLAGS)

COMMONWARNINGS	= -W -Wall -Wtraditional -Wshadow -Wpointer-arith       \
		-Wbad-function-cast -Wcast-qual -Wcast-align            \
		-Wwrite-strings -Wconversion -Wstrict-prototypes        \
		-Wmissing-prototypes -Wmissing-declarations             \
		-Wredundant-decls -Woverloaded-virtual

# not as strict as above, but can actually be used -- mdc
USEFULWARNINGS	= -W -Wall -Wtraditional -Wpointer-arith       \
		-Wbad-function-cast -Wcast-qual -Wcast-align            \
		-Wwrite-strings -Wconversion -Wstrict-prototypes        \
		-Wmissing-prototypes -Wmissing-declarations             \
		-Woverloaded-virtual 

#don't inline -- for the files that won't emit template code
INLINE_DEFINES = 

#inline the private members of the class -- templates.o can use this
TEMP_INLINE_DEFINES = -DDO_INLINE_P="inline"

# inline everything -- the way things should be
ALL_INLINE_DEFINES = -DDO_INLINE_F="inline" -DDO_INLINE_P="inline"

# -fexternal-templates and -Dexternal_templates should both be used
# or neither should be used
CFLAGS          = $(IFLAGS) -g -Wall -fexternal-templates -Dexternal_templates \
		  $(ARCH_DEF) $(INLINE_DEFINES)
CXXFLAGS          = $(IFLAGS) -g -Wall -fexternal-templates -Dexternal_templates \
		    $(ARCH_DEF) $(INLINE_DEFINES)

# flags for kludge files, won't have warnings generated
KFLAGS          = $(IFLAGS) -g -Wall -fexternal-templates -Dexternal_templates \
                  $(INLINE_DEFINES) $(ARCH_DEF)

# flags for template files, don't define external template flags
# -g is optional in this case -- should be defined at module level
TFLAGS          = $(IFLAGS) -Wall $(TEMP_INLINE_DEFINES) $(ARCH_DEF)

LIBDIR		= -L$(TO_CORE)/../lib/$(PLATFORM) \
		  -L/p/paradyn/lib/$(PLATFORM) \
		  -L/usr/psup/lib

ifdef USES_PVM
PVM_DIR		= /p/paradyn/packages/pvm3/lib/$(PLATFORM)
IFLAGS		+= -I/p/paradyn/packages/pvm3/include
LIBDIR		+= $(patsubst %,-L%,$(PVM_DIR))
VPATH		+= $(PVM_DIR)
endif

ifdef USES_TCLTK
TCLTK_DIRS	= /p/paradyn/packages/tk3.6 /p/paradyn/packages/tcl7.3
IFLAGS		+= $(patsubst %,-I%,$(TCLTK_DIRS))
LIBDIR		+= $(patsubst %,-L%/$(PLATFORM),$(TCLTK_DIRS))
VPATH		+= $(TCLTK_DIRS)
endif

ifdef USES_FLEX
FLEX_DIR	= /usr/psup/lib
LIBDIR		+= $(patsubst %,-L%,$(FLEX_DIR))
VPATH		+= $(FLEX_DIR)
endif

ifdef USES_LIBERTY
LIBERTY_DIR	= /usr/psup/gcc/lib
LIBDIR		+= $(patsubst %,-L%,$(LIBERTY_DIR))
VPATH		+= $(LIBERTY_DIR)
endif

ifdef USES_BLT
BLT_DIR		= /p/paradyn/packages/blt-1.7
LIBDIR		+= $(patsubst %,-L%/$(PLATFORM),$(BLT_DIR))
VPATH		+= $(BLT_DIR)/$(PLATFORM)
endif

ifdef USES_X11
ifeq ($(PLATFORM),sparc-sun-solaris2.3)
CFLAGS		+= -I/usr/openwin/include
CXXFLAGS	+= -I/usr/openwin/include
TFLAGS		+= -I/usr/openwin/include
LIBDIR		+= -L/usr/openwin/lib
VPATH		+= /usr/openwin/lib
endif
endif


ifeq ($(PLATFORM),sparc-sun-solaris2.3)
RANLIB		= true
endif


# Include any per-user configuration changes; this "local" config file
# should *not* be under CVS control, so that it never gets committed.

-include $(TO_CORE)/make.config.local
