
IFLAGS          = -I. -I../.. 

SUFFIX          = .C:sC

VPATH		= ../src:../../../lib/$(PLATFORM)

LIBDIR		= -L../../../lib/$(PLATFORM) -L/var/home/paradyn/lib/$(PLATFORM)

YFLAGS		= -d

.SUFFIXES: .I .c .C .o

DEST          = .

CFLAGS          = $(IFLAGS) -g -Wall

CC              = g++

.C.o:
	$(CC) -c $(CFLAGS) $<

PATH	+=:../../../bin/$(PLATFORM):$(CVSROOT)/../bin/$(PLATFORM)
