#
# Common makefile template for paradyn.  This file is not intended to
# be a useful Makefile in isolation; instead, it should be included
# from within an architecture-specific Makefile.
#
# $Id: make.module.tmpl,v 1.45 2003/06/09 21:47:14 pcroth Exp $
#

CFLAGS		+= $(TCLFRIENDLYWARNINGS) $(XFLAGS)
#CXXFLAGS	+= $(TCLFRIENDLYWARNINGS) $(XFLAGS) -DPCDEBUG
CXXFLAGS	+= $(TCLFRIENDLYWARNINGS) $(XFLAGS)
TFLAGS		+= $(TCLFRIENDLYWARNINGS) $(XFLAGS)

TARGET	      = paradyn

VPATH	     += ../h:$(wildcard ../src/*thread):\
                ../src/pdMain:../src/met

# We don't want to force the user to have "visi" checked out in order
# to compile paradyn:
VPATH	+= $(shell if [ -d $(TO_CORE)/visi ]; then echo ":../../visi/h"; else echo ":$(BACKUP_CORE)/visi/h"; fi )

SRCS	     += ../src/DMthread/DMpublic.C \
		../src/DMthread/DMdaemon.C \
		../src/DMthread/DMmetric.C \
		../src/DMthread/DMmain.C \
		../src/DMthread/DMperfstream.C \
		../src/DMthread/DMresource.C \
		../src/DMthread/DMabstractions.C \
		../src/DMthread/DMcritPath.C \
		../src/DMthread/DMphase.C \
      ../src/DMthread/DMmetricFocusReqBundle.C \
      ../src/DMthread/DMmetricFocusReq.C \
		../src/DMthread/CallGraph.C \
		../src/DMthread/MagnifyManager.C \
		../src/pdMain/main.C \
		../src/VMthread/VMmain.C \
		../src/VISIthread/VISIthreadmain.C \
		../src/VISIthread/VISIthreadpublic.C \
		../src/PCthread/PCdata.C \
		../src/PCthread/PCfocus.C \
		../src/PCthread/PCsearch.C \
		../src/PCthread/PCpublic.C \
		../src/PCthread/PCmain.C \
		../src/PCthread/PCconstants.C \
		../src/PCthread/PCfilter.C \
		../src/PCthread/PCmetric.C \
		../src/PCthread/PCwhy.C \
		../src/PCthread/PCexperiment.C \
		../src/PCthread/PCrules.C \
		../src/PCthread/PCshg.C \
		../src/PCthread/PCmetricInst.C \
		../src/PCthread/PCcostServer.C \
		../src/UIthread/tclTunable.C \
		../src/UIthread/Status.C \
		../src/UIthread/uimpd.tcl.C \
		../src/UIthread/UImain.C \
		../src/UIthread/UIpublic.C \
		../src/UIthread/UIwhere.C \
		../src/UIthread/paradyn.tcl.C \
		../src/UIthread/whereAxis.C \
		../src/UIthread/abstractions.C \
		../src/UIthread/where4treeConstants.C \
		../src/UIthread/rootNode.C \
		../src/UIthread/scrollbar.C \
		../src/UIthread/callGraphConsts.C \
		../src/UIthread/callGraphTcl.C \
		../src/UIthread/callGraphDisplay.C \
		../src/UIthread/callGraphRootNode.C \
		../src/UIthread/callGraphs.C \
		../src/UIthread/whereAxisTcl.C \
		../src/UIthread/shg.C \
		../src/UIthread/shgRootNode.C \
		../src/UIthread/shgPhases.C \
		../src/UIthread/shgConsts.C \
		../src/UIthread/shgTcl.C \
		../src/UIthread/tkTools.C \
		../src/UIthread/pdLogo.C \
		../src/TCthread/TCmain.C \
		../src/TCthread/tunableConst.C \
		../src/met/metMain.C \
		../src/templatesIGENMDL.C  \
		../src/templatesDM.C  \
		../src/templatesPCV.C  \
		../src/templatesUI.C  \
		../src/templatesUIWASHG.C  \
                ../src/met/mdl.C

IGEN_GEN_SRCS =	dataManager.thread.C \
		dataManager.thread.CLNT.C \
		dataManager.thread.SRVR.C \
		performanceConsultant.thread.C \
		performanceConsultant.thread.CLNT.C \
		performanceConsultant.thread.SRVR.C \
		dyninstRPC.xdr.C \
		dyninstRPC.xdr.CLNT.C \
		dyninstRPC.xdr.temp.C \
		visi.xdr.C \
		visi.xdr.CLNT.C \
		visi.xdr.temp.C \
		VISIthread.thread.C \
		VISIthread.thread.SRVR.C \
		VISIthread.thread.CLNT.C \
		UI.thread.C \
		UI.thread.CLNT.C \
		UI.thread.SRVR.C \
		VM.thread.C \
		VM.thread.SRVR.C \
		VM.thread.CLNT.C \
		termWin.xdr.C \
		termWin.xdr.CLNT.C \
		termWin.xdr.temp.C

IGEN_ISRCS    = dataManager.I \
		performanceConsultant.I \
		dyninstRPC.I \
		visi.I \
		VISIthread.I \
		UI.I \
		VM.I \
		termWin.I

TCL_SRCS 	= ../tcl/applic.tcl \
		../tcl/callGraph.tcl \
		../tcl/errorList.tcl \
		../tcl/focusUtils.tcl \
		../tcl/generic.tcl \
		../tcl/mainMenu.tcl \
		../tcl/mets.tcl \
		../tcl/save.tcl \
		../tcl/shg.tcl \
		../tcl/startVisi.tcl \
		../tcl/status.tcl \
		../tcl/tclTunable.tcl \
		../tcl/uimProcs.tcl \
		../tcl/whereAxis.tcl

SRCS		+= $(TCL2C_GEN_SRCS)

IFLAGS       += -DPARADYN

LIBS 	     += -lmdl -lpdutil -lpdthread $(THREADSLIB)

SYSLIBS	     += $(TCLTK_LIBS) $(X11_LIB) -lm $(FLEX_LIB)

CFLAGS       += -DNO_MDL_PRINT
CXXFLAGS     += -DNO_MDL_PRINT
TFLAGS       += -DNO_MDL_PRINT

all:	$(TARGET) 

templatesIGENMDL.o: ../src/templatesIGENMDL.C
	$(CXX) $(TFLAGS) -c ../src/templatesIGENMDL.C
templatesDM.o: ../src/templatesDM.C
	$(CXX) $(TFLAGS) -c ../src/templatesDM.C
templatesPCV.o: ../src/templatesPCV.C
	$(CXX) $(TFLAGS) -c ../src/templatesPCV.C
templatesUI.o: ../src/templatesUI.C
	$(CXX) $(TFLAGS) -c ../src/templatesUI.C
templatesUIWASHG.o: ../src/templatesUIWASHG.C
	$(CXX) $(TFLAGS) -c ../src/templatesUIWASHG.C

$(TCL2C_GEN_SRCS):	$(TCL_SRCS)
	$(PERL) $(TCL2C) $^ > $@


