#
# Common makefile template for visi library.  This file is not
# intended to be a useful Makefile in isolation; instead, it should be
# included from within an architecture-specific Makefile.
#
# $Id: make.module.tmpl,v 1.10 2002/04/09 18:05:46 mjbrim Exp $
#

TARGET	      = libvisi.a 

VPATH        += ../../visi/h

SRCS	     += ../src/templates.C \
		../src/datagrid.C \
		../src/visualization.C 


IGEN_GEN_SRCS =	visi.xdr.SRVR.C \
		visi.xdr.CLNT.C \
		visi.xdr.C \
		visi.xdr.temp.C

IGEN_ISRCS    = visi.I

all: $(TARGET)

templates.o: ../src/templates.C
	$(CXX) $(TFLAGS) -c ../src/templates.C
