#
# Common makefile template for visi library.  This file is not
# intended to be a useful Makefile in isolation; instead, it should be
# included from within an architecture-specific Makefile.
#
# $Id: nmake.module.tmpl,v 1.2 2003/06/07 12:39:45 pcroth Exp $
#

TARGET	      = libvisi.lib

LIB_SRCS	= ../src/templates.C \
		../src/datagrid.C \
		../src/visualization.C 

IGEN_GEN_SRCS =	visi.xdr.srvr.C \
		visi.xdr.clnt.C \
		visi.xdr.C
SRCS	    = $(SRCS) $(LIB_SRCS) $(IGEN_GEN_SRCS)



IGEN_ISRCS    = visi.I

LIB_OBJS_TMP	= $(LIB_SRCS:../src/=)
LIB_OBJS		= $(LIB_OBJS_TMP:.C=.obj)
IGEN_GEN_OBJS	= $(IGEN_GEN_SRCS:.C=.obj)

OBJS			= $(OBJS) $(LIB_OBJS) $(IGEN_GEN_OBJS)

all: $(TARGET)

templates.o: ../src/templates.C
	$(CXX) $(TFLAGS) -c ../src/templates.C

visi.xdr.C \
	visi.xdr.h \
	visi.xdr.CLNT.C \
	visi.xdr.CLNT.h \
	visi.xdr.SRVR.C \
	visi.xdr.SRVR.h:	..\h\visi.I
	igen -xdr ..\h\visi.I

