#
# Common makefile template for terrain.  This file is not intended to
# be a useful Makefile in isolation; instead, it should be included
# from within an architecture-specific Makefile.
#
# $Id: make.module.tmpl,v 1.9 2001/06/12 19:55:32 schendel Exp $
#

TARGET	      = terrain

IFLAGS	     += -I.  -I$(X11DIR)/include \
		-I$(X11DIR)/include/X11 -I$(X11DIR)/include/X11/Xaw \
		-I$(BACKUP_CORE)

# if $(TO_CORE)/visi doesn't exist, then the -I$(TO_CORE) automatically
# inserted by make.config won't be enough for the compiler to find,
# say, visi/h/visualization.h.  We don't want to force the user to have
# "visi" checked out in order to compile terrain
IFLAGS	+= $(shell if [ -d $(TO_CORE)/visi ]; then echo ""; else echo -I$(BACKUP_CORE); fi )

SRCS	     += ../src/FormatBox.c \
		../src/action.c \
		../src/colorize.c \
		../src/command.c \
		../src/error.c \
		../src/form.c \
		../src/graph3d.c \
		../src/menu.c \
		../src/misc.c \
		../src/miscx.c \
		../src/setshow.c \
		../src/smooth.c \
		../src/term.c \
		../src/terrain.c

LIBS         += -lvisi -lpdutilOld 
SYSLIBS	     += -lstdc++ -lXaw -lXext -lXmu -lXt $(X11_LIB) -lm

all:	$(TARGET)








