#
# Common makefile template for barchart.  This file is not intended to
# be a useful Makefile in isolation; instead, it should be included
# from within an architecture-specific Makefile.
#
# $Id: make.module.tmpl,v 1.19 2001/11/07 05:03:14 darnold Exp $
#

TARGET	      = barChart

IFLAGS	     += -I.. -I$(TO_CORE)/paradyn/src/UIthread

# if $(TO_CORE)/visi doesn't exist, then the -I$(TO_CORE) automatically
# inserted by make.config won't be enough for the compiler to find,
# say, visi/h/visualization.h.  We don't want to force the user to have
# "visi" checked out in order to compile barChart.
IFLAGS	+= $(shell if [ -d $(TO_CORE)/visi ]; then echo ""; else echo -I$(BACKUP_CORE); fi )

VPATH	     += ../src:$(TO_CORE)/paradyn/src/UIthread:$(TO_CORE)/visiClients/auxiliary/src

SRCS	     += $(TO_CORE)/paradyn/src/UIthread/tkTools.C \
		$(TO_CORE)/paradyn/src/UIthread/pdLogo.C \
		$(TO_CORE)/paradyn/src/UIthread/minmax.C \
		$(TO_CORE)/visiClients/auxiliary/src/Export.C \
		../src/barChart.C \
		../src/barChartTcl.C \
		../src/barChartDriver.C \
		../src/dg2.C \
		../src/templates.C

TCL_SRCS	= ../tcl/barChart.tcl \
                  $(TO_CORE)/visiClients/auxiliary/tcl/Export.tcl
SRCS		+= $(TCL2C_GEN_SRCS)

LIBS         += -lvisi -lpdutilOld 
SYSLIBS	     += $(TCLTK_LIBS) $(X11_LIB) -lm

ifdef CROSSCOMPILER
SYSLIBS		+= -lstdc++
endif

all:	$(TARGET)

$(TCL2C_GEN_SRCS): $(TCL_SRCS)
	$(PERL) $(TCL2C) $^ > $@
