#
# Common makefile template for barchart.  This file is not intended to
# be a useful Makefile in isolation; instead, it should be included
# from within an architecture-specific Makefile.
#
# $Id: nmake.module.tmpl,v 1.2 2000/10/17 17:28:48 schendel Exp $
#

TARGET	= barChart.exe

IFLAGS	= $(IFLAGS) \
			-I.. \
			-I$(TO_CORE)/paradyn/src/UIthread

PD_SRCS	= $(TO_CORE)/paradyn/src/UIthread/tkTools.C \
			$(TO_CORE)/paradyn/src/UIthread/pdLogo.C \
			$(TO_CORE)/paradyn/src/UIthread/minmax.C
MY_SRCS	= ../src/barChart.C \
			../src/barChartTcl.C \
			../src/barChartDriver.C \
			../src/main-nt.C \
			../src/dg2.C \
			../src/templates.C
TCL_SRCS	= ../tcl/barchart.tcl
SRCS	= $(SRCS) $(PD_SRCS) $(MY_SRCS) $(TCL_SRCS)
			

# note: we cannot use TO_CORE here, since nmake does not 
# expand variables in macro substitutions
PD_TMPO	= $(PD_SRCS:../../../paradyn/src/UIthread/=)
MY_TMPO	= $(MY_SRCS:../src/=)
OBJS	= $(OBJS) $(PD_TMPO:.C=.obj) $(MY_TMPO:.C=.obj) $(TCL2C_GEN_SRCS:.C=.obj)

LIBS	= $(LIBS) libvisi.lib libpdutilOld.lib
SYSLIBS	= $(SYSLIBS) $(TCLTK_LIBS) $(X11_LIB) $(RPC_LIB)


all:	$(TARGET)

$(TCL2C_GEN_SRCS): $(TCL_SRCS)
	$(PERL) $(TCL2C) $** > $@

{$(TO_CORE)\paradyn\src\UIthread}.C{}.obj:
	$(CXX) $(CXXFLAGS) -c $<

