#
# Common makefile template for rtinst library.  This file is not
# intended to be a useful Makefile in isolation; instead, it should be
# included from within an architecture-specific Makefile.
# $Id: make.module.tmpl,v 1.15 2003/05/09 22:09:43 rchen Exp $
#

SUITE_NAME	= Dyninst
RELEASE_NUM	= 4.0
#BUILD_MARK should be (re-)defined in core/make.config.local rather than here!

ifndef TARGET
TARGET	      = libdyninstAPI_RT.o
endif

MODCC         = $(CC)
MODCFLAGS     = $(CFLAGS)

SRCS         += ../src/RTcommon.c

ifdef USES_SHM_SAMPLING
CFLAGS	+= -DSHM_SAMPLING
endif

TARGET3_SO=libdyninstAPI_RT.so.1
all: $(TARGET3_SO)

OBJS =		$(patsubst %.C, %.o, $(filter %.C,$(notdir $(SRCS)))) \
		$(patsubst %.c, %.o, $(filter %.c,$(notdir $(SRCS)))) \
		$(patsubst %.s, %.o, $(filter %.s,$(notdir $(SRCS)))) \
		$(patsubst %.S, %.o, $(filter %.S,$(notdir $(SRCS)))) \
		$(IGEN_GEN_SRCS:%.C=%.o)
