#
# Common makefile template for rtinst library.  This file is not
# intended to be a useful Makefile in isolation; instead, it should be
# included from within an architecture-specific Makefile.
# $Id: make.module.tmpl,v 1.22 2008/04/11 23:30:42 legendre Exp $
#

SUITE_NAME	= Dyninst
RELEASE_NUM	= 7.0
#BUILD_MARK should be (re-)defined in core/make.config.local rather than here!

ifndef TARGET
TARGET	      = libdyninstAPI_RT.so
endif

MODCC         = $(CC)
MODCFLAGS     = $(CFLAGS)

SRCS         += ../src/RTcommon.c \
                ../src/RTsignal.c


ifdef USES_SHM_SAMPLING
CFLAGS	+= -DSHM_SAMPLING
endif

ifdef LIBELF_INC
CFLAGS  += -I$(LIBELF_INC)
endif

ifdef DISABLE_STACK_PROT
CFLAGS += -fno-stack-protector
endif

all: $(TARGET) $(STATIC_TARGET)

#OBJS =		$(patsubst %.C, %.o, $(filter %.C,$(notdir $(SRCS)))) \
#		$(patsubst %.c, %.o, $(filter %.c,$(notdir $(SRCS)))) \
#		$(patsubst %.s, %.o, $(filter %.s,$(notdir $(SRCS)))) \
#		$(patsubst %.S, %.o, $(filter %.S,$(notdir $(SRCS)))) \
#		$(IGEN_GEN_SRCS:%.C=%.o)
