# 
# Common makefile template for paradynd.  This file is not intended to
# be a useful Makefile in isolation; instead, it should be included
# from within an architecture-specific Makefile.
#
# make.module.tmpl,v
# Revision 1.5  1995/05/30  22:16:30  krisna
# moved arch-os specific sources to appropriate directory
#
# Revision 1.4  1995/05/18  10:46:08  markc
# Added new source files
#
# Revision 1.3  1995/03/11  06:03:52  krisna
# libutil name change
#
# Revision 1.2  1995/02/16  08:26:31  markc
# New support for templates
#
# Revision 1.1  1995/01/30  18:10:31  jcargill
# Major build system reorganization
#
#

CFLAGS		     += $(TCLFRIENDLYWARNINGS)
CXXFLAGS	     += $(TCLFRIENDLYWARNINGS)
TFLAGS		     += $(TCLFRIENDLYWARNINGS)

TARGET	      = paradynd

VPATH	     += ../../paradynd/src:../../paradyn/h

SRCS	     += ../src/association.C \
		../src/ast.C \
		../src/comm.C \
		../src/context.C \
		../src/debugger.C \
		../src/dynrpc.C \
		../src/init.C \
		../src/inst.C \
		../src/main.C \
		../src/metric.C \
		../src/internalMetrics.C \
		../src/costmetrics.C \
		../src/metricDefs-critPath.C \
		../src/perfStream-def.C \
		../src/perfStream.C \
		../src/process.C \
		../src/resource.C \
		../src/stats.C \
		../src/symtab.C \
		../src/util.C \
 		../src/mdl.C \
		../src/templates0.C \
		../src/templates05.C \
		../src/templates1.C \
		../src/templatesIGEN.C


ifdef USES_PVM
SRCS	     +=	../src/pvm_support.C \
		../src/host_support.C \
		../src/task_support.C \
		../src/templatesPVM.C

CXXFLAGS     +=	-DPARADYND_PVM
LIBS	     +=	-lpvm3

endif

ifdef USES_SHM_SAMPLING
SRCS 		+= ../src/fastInferiorHeap.C ../src/fastInferiorHeapHKs.C \
		   ../src/fastInferiorHeapMgr.C
CXXFLAGS	+= -DSHM_SAMPLING
TFLAGS		+= -DSHM_SAMPLING
CFLAGS		+= -DSHM_SAMPLING
endif

IGEN_GEN_SRCS = dyninstRPC.xdr.SRVR.C \
		dyninstRPC.xdr.C

IGEN_ISRCS    = dyninstRPC.I

LIBS		+= -lpdutil
SYSLIBS		+= -liberty

IFLAGS       += -I../$(PLATFORM) -I../src

all:    $(TARGET)

templates0.o: ../src/templates0.C
	$(CXX) $(TFLAGS) -c ../src/templates0.C

templates05.o: ../src/templates05.C
	$(CXX) $(TFLAGS) -c ../src/templates05.C

templates1.o: ../src/templates1.C
	$(CXX) $(TFLAGS) -c ../src/templates1.C

templatesIGEN.o: ../src/templatesIGEN.C
	$(CXX) $(TFLAGS) -c ../src/templatesIGEN.C
