# 
# Common makefile template for paradynd.  This file is not intended to
# be a useful Makefile in isolation; instead, it should be included
# from within an architecture-specific Makefile.
#
# $Id: nmake.module.tmpl,v 1.22 2002/10/15 17:11:31 schendel Exp $
#

TARGET	      = paradynd.exe

#SRCS	     = $(SRCS) ../src/association.C \
#		../src/ast.C \
#		../src/comm.C \
#		../src/context.C \
#		../src/debugger.C \
#		../src/dynrpc.C \
#		../src/init.C \
#		../src/inst.C \
#		../src/main.C \
#		../src/metricFocusNode.C \
#               ../src/machineMetFocusNode.C \
#               ../src/processMetFocusNode.C \
#               ../src/threadMetFocusNode.C \
#               ../src/instrCodeNode.C \
#               ../src/instrDataNode.C \
#               ../src/instReqNode.C \
#		../src/internalMetrics.C \
#		../src/costmetrics.C \
#		../src/metricDefs-critPath.C \
#		../src/perfStream-def.C \
#		../src/perfStream.C \
#		../src/process.C \
#               ../src/installed_miniTramps_list.C \
#		../src/resource.C \
#		../src/stats.C \
#		../src/symtab.C \
#		../src/util.C \
# 		../src/mdl.C \
# 		../src/focus.C \
#		../src/processMgr.C \
#               ../src/pd_process.C \
#		../src/threadMgr.C \
#		../src/pd_thread.C \
#		../src/templates0.C \
#		../src/templates05.C \
#		../src/templates1.C \
#		../src/templatesIGEN.C

!ifdef INCLUDE_PVM_SUPPORT
#SRCS	     +=	../src/pvm_support.C \
#		../src/host_support.C \
#		../src/task_support.C \
#		../src/templatesPVM.C

OBJS		= $(OBJS) pvm_support.obj \
			host_support.obj \
			task_support.obj

CXXFLAGS	= $(CXXFLAGS) -DPARADYND_PVM
#LIBS		+= -lpvm3
!endif

!ifdef USES_SHM_SAMPLING
SRCS 		= $(SRCS) \
		   ../src/varInstanceHKs.C \
		   ../src/varInstance.C \
		   ../src/shmMgr.C \
		   ../src/variableMgr.C \
		   ../src/shmSegment-nt.C \
		   ../src/sharedMetaData.C
		#		   ../src/varTable.C \

CXXFLAGS	= $(CXXFLAGS) -DSHM_SAMPLING
TFLAGS		= $(TFLAGS) -DSHM_SAMPLING
CFLAGS		= $(CFLAGS) -DSHM_SAMPLING
!endif

CXXFLAGS	= $(CXXFLAGS) -DNEW_TIME_TYPES
TFLAGS		= $(TFLAGS) -DNEW_TIME_TYPES
CFLAGS		= $(CFLAGS) -DNEW_TIME_TYPES

IGEN_GEN_SRCS = dyninstRPC.xdr.SRVR.C \
		dyninstRPC.xdr.C

IGEN_ISRCS    = dyninstRPC.I


OBJS      = $(OBJS) association.obj \
		ast.obj \
		CodeView.obj \
		comm.obj \
		context.obj \
		debugger.obj \
		dynrpc.obj \
		init.obj \
		inst.obj \
		main.obj \
		metricFocusNode.obj \
                machineMetFocusNode.obj \
                processMetFocusNode.obj \
                threadMetFocusNode.obj \
                instrCodeNode.obj \
                instrDataNode.obj \
                instReqNode.obj \
		internalMetrics.obj \
		costmetrics.obj \
		metricDefs-critPath.obj \
		Object.obj \
		dyn_thread.obj \
		perfStream-def.obj \
		resource.obj \
		stats.obj \
		symtab.obj \
		util.obj \
 		mdl.obj \
 		focus.obj \
		showerror.obj \
		perfStream.obj \
		process.obj \
		dyn_lwp.obj \
		installed_miniTramps_list.obj \
		sharedobject.obj \
		processMgr.obj \
                pd_process.obj \
		threadMgr.obj \
		pd_thread.obj \
		dyninstRPC.xdr.SRVR.obj \
		dyninstRPC.xdr.obj \
		templatesIGEN.obj \
		templates-nt.obj

!ifdef USES_SHM_SAMPLING
OBJS	= $(OBJS) \
		varInstanceHKs.obj \
		varInstance.obj \
		shmMgr.obj \
#		varTable.obj \
		variableMgr.obj \
		shmSegment-nt.obj \
		sharedMetaData.obj
!endif


LIBS		= $(LIBS) ..\..\..\lib\$(PLATFORM)\libpdutil.lib

SYSLIBS		= $(SYSLIBS) oncrpc.lib wsock32.lib imagehlp.lib

all:    $(IGEN_GEN_SRCS) $(TARGET)

$(TARGET):	$(IGEN_GEN_SRCS)

dyninstRPC.xdr.SRVR.C: ..\..\paradyn\h\dyninstRPC.I
	igen -xdr ../../paradyn/h/dyninstRPC.I

{..\..\paradyn\h\}.I.C:
	igen -xdr ../../paradyn/h/dyninstRPC.I

{..\..\paradyn\h\}.I.h:
	igen -xdr ../../paradyn/h/dyninstRPC.I

{..\..\dyninstAPI\src\}.C.obj:
	$(CXX) $(CXXFLAGS) -c $<

