# 
# Common makefile template for paradynd.  This file is not intended to
# be a useful Makefile in isolation; instead, it should be included
# from within an architecture-specific Makefile.
#
# $Id: nmake.module.tmpl,v 1.57 2006/07/07 00:01:10 jaw Exp $
#

TARGET	      = paradynd.exe

!ifdef USES_SHM_SAMPLING
SRCS 		= $(SRCS) \
		   ../src/varInstanceHKs.C \
		   ../src/varInstance.C \
		   ../src/shmMgr.C \
		   ../src/variableMgr.C \
		   ../src/shmSegment-win.C \
		   ../src/shmSegment.C \
		   ../src/sharedMetaData.C

CXXFLAGS	= $(CXXFLAGS) -DSHM_SAMPLING
TFLAGS		= $(TFLAGS) -DSHM_SAMPLING
CFLAGS		= $(CFLAGS) -DSHM_SAMPLING
!endif

CXXFLAGS	= $(CXXFLAGS) -DNEW_TIME_TYPES
TFLAGS		= $(TFLAGS) -DNEW_TIME_TYPES
CFLAGS		= $(CFLAGS) -DNEW_TIME_TYPES

IGEN_GEN_SRCS = dyninstRPC.mrnet.SRVR.C 

IGEN_ISRCS    = dyninstRPC.I

IFLAGS          = $(IFLAGS) -I..\..\dyninstAPI\h  -I../../mrnet/mrnet/h/ -I../../mrnet -I../../mrnet/mrnet/src/

OBJS = $(OBJS) \
      CodeView.obj \
      comm.obj \
      context.obj \
      dynrpc.obj \
      init.obj \
		main.obj \
		metricFocusNode.obj \
      machineMetFocusNode.obj \
      processMetFocusNode.obj \
      threadMetFocusNode.obj \
      instrCodeNode.obj \
      instrDataNode.obj \
      instReqNode.obj \
		internalMetrics.obj \
		costmetrics.obj \
		metricDefs-critPath.obj \
 		mdl.obj \
 		mdld_data.obj \
 		focus.obj \
		perfStream.obj \
		perfStream-def.obj \
		resource.obj \
		processMgr.obj \
      pd_process.obj \
		threadMgr.obj \
		pd_thread.obj \
		pd_image.obj \
		pd_module.obj \
		dyninstRPC.mrnet.SRVR.obj \
		templatesIGEN.obj \
      templatesPD-nt.obj 

!ifdef USES_SHM_SAMPLING
OBJS	= $(OBJS) \
		varInstanceHKs.obj \
		varInstance.obj \
		shmMgr.obj \
#		varTable.obj \
		variableMgr.obj \
		shmSegment-win.obj \
		shmSegment.obj \
		sharedMetaData.obj
!endif

LIBS		= $(LIBS) libdyninstAPI.lib libpdutil.lib libmrnet.lib libxplat.lib

SYSLIBS		= $(SYSLIBS) oncrpc.lib ws2_32.lib dbghelp.lib shlwapi.lib

all:    $(IGEN_GEN_SRCS) $(TARGET)

$(TARGET):	$(IGEN_GEN_SRCS)

dyninstRPC.mrnet.SRVR.C: ..\..\paradyn\h\dyninstRPC.I
	igen -mrnet ..\..\paradyn\h\dyninstRPC.I

{..\..\paradyn\h\}.I.C:
	igen -mrnet ..\..\paradyn\h\dyninstRPC.I

{..\..\paradyn\h\}.I.h:
	igen -mrnet ..\..\paradyn\h\dyninstRPC.I


