# 
# Common makefile template for the dyninstAPI library.  This file is not
# intended to be a useful Makefile in isolation; instead, it should be
# included from within an architecture-specific Makefile.
#
# $Id: make.module.tmpl,v 1.4 2008/09/15 17:38:17 jaw Exp $
#

SUITE_NAME	= Dyninst
RELEASE_NUM	= 5.2
#BUILD_MARK should be (re-)defined in core/make.config.local rather than here!

CFLAGS		     += $(USEFULWARNINGS) -I$(TO_CORE)/../include
CXXFLAGS	     += $(USEFULWARNINGS) -I$(TO_CORE)/../include

LDFLAGS += -lcommon

LDFLAGS     += $(LIBDIR)
ifndef USES_NATIVE_CC
LD		= $(GXX)
LDFLAGS		+= -shared $(G_PTHREAD_LD)
CFLAGS		+= -fPIC
CXXFLAGS	+= -fPIC $(G_PTHREAD)
else
ifeq (solaris,$(findstring solaris,$(PLATFORM)))
LDFLAGS		+= -G
endif #sparc
endif #USES_NATIVE

TO_INC   = ../h

PUBLIC_H = Absloc.h \
	 AbslocInterface.h \
	 slicing.h \
	 SymEval.h \
	 stackanalysis.h

SRCS +=	../src/Absloc.C \
     	../src/AbslocInterface.C \
	../src/convertOpcodes.C \
	../src/debug.C \
	../src/ExpressionConversionVisitor.C \
	../src/RoseImpl.C \
	../src/RoseInsnFactory.C \
	../src/slicing.C \
	../src/stackanalysis.C \
	../src/SymbolicExpansion.C \
	../src/SymEval.C \
	../src/SymEvalPolicy.C \
	../src/templates.C \
	../src/Visitors.C

ifndef USES_NATIVE_CC
ifdef CROSSCOMPILER
SYSLIBS		+= -liberty -lg++ -lstdc++ -lm
else
SYSLIBS         += -liberty
endif
else
SYSLIBS		+= -ldemangle
endif


IFLAGS       += -I../$(PLATFORM) -I../src -I../h -I../../dynutil/h -I../../symtabAPI/h -I../external -I../../dyninstAPI/h

DOCDIR	= ../doc


# All that, and we finally get a target...
all: $(TARGET) $(EXTRA_LIBS)

