TARGET	      = psuedoparadyn

VPATH        += ../../../../visi/h:

SRCS	     += ../src/psuedoparadyn.C ../src/templates.C

IGEN_GEN_SRCS = visi.xdr.CLNT.C  visi.xdr.C 

IGEN_ISRCS = visi.I

LIBS	     += -lpdutil
SYSLIBS	     += -lX11 -lm

all: $(TARGET) 

templates.o: ../src/templates.C
	$(CXX) $(TFLAGS) -c ../src/templates.C

