# 
# Common makefile template for dyninst Tests.  This file is not intended to
# be a useful Makefile in isolation; instead, it should be included
# from within an architecture-specific Makefile.
#
# $Id: make.module.tmpl,v 1.3 2000/03/22 21:41:10 hollings Exp $
#

SUITE_NAME	= Dyninst
RELEASE_NUM	= 2.0beta
#BUILD_MARK should be (re-)defined in core/make.config.local rather than here!

DEST		= $(TO_CORE)/$(PROGRAM_DEST)/testprogs

TARGET		= dyner
TEST_TARGET	= testDyner

SRCS	     += ../src/$(TARGET).C lex.$(TARGET).C $(TARGET).tab.C
TEST_SRC      = ../tests/$(TEST_TARGET).C

IFLAGS	     += -I$(TO_CORE)/dyninstAPI/h -I../src

CXXFLAGS     += $(BASICWARNINGS)
CFLAGS       += $(BASICWARNINGS)

LIBS         += -ldyninstAPI 

ifndef USES_LIBDYNINST_SO
LIBS         += -lpdutil
endif

ifeq ($(PLATFORM),rs6000-ibm-aix4.1)
TCL_LIB	      = tcl7.6
MUTATEE_CC = gcc
else
TCL_LIB	      = tcl
MUTATEE_CC = $(CXX)
endif

#SYSLIBS      += -liberty /usr/imports/lib/libtcl8.0.a
SYSLIBS      += -liberty -L/usr/imports/lib -l$(TCL_LIB)

all: $(TARGET) $(TEST_TARGET)

MUTATEE_CFLAGS += $(MODCFLAGS) -g

$(TEST_TARGET): $(TEST_SRC)
	$(MUTATEE_CC) $(MUTATEE_CFLAGS) -o $(TEST_TARGET) $(TEST_SRC)

LEXFLAGS += -P$(TARGET)
YACCFLAGS += -d -b $(TARGET) -p $(TARGET)

lex.$(TARGET).C: ../src/cmdline.l
	$(LEX) $(LEXFLAGS) ../src/cmdline.l
	mv lex.$(TARGET).c lex.$(TARGET).C

$(TARGET).tab.C: ../src/cmdline.y
	$(YACC) $(YACCFLAGS) ../src/cmdline.y
	mv $(TARGET).tab.c $(TARGET).tab.C

UNCOMMON_INSTALL=true

install: all
	-@$(MKDIR) $(DEST)
	-$(CP) $(TARGETS) $(DEST)

