# 
# Common makefile template for dyninst Tests.  This file is not intended to
# be a useful Makefile in isolation; instead, it should be included
# from within an architecture-specific Makefile.
#
# $Id: make.module.tmpl,v 1.22 2004/07/15 21:24:03 jaw Exp $
#

SUITE_NAME	= Dyninst
RELEASE_NUM	= 4.1
#BUILD_MARK should be (re-)defined in core/make.config.local rather than here!

TARGET		= dyner
TEST_TARGET	= testDyner

SRCS	     += ../src/$(TARGET).C lex.$(TARGET).C $(TARGET).tab.C
TEST_SRC      = ../tests/$(TEST_TARGET).C

IFLAGS	     += -I$(TO_CORE)/dyninstAPI/h -I../src

CXXFLAGS     += $(BASICWARNINGS)
CFLAGS       += $(BASICWARNINGS)

# This may cause problems on Alpha
# GCC has a new mangled name squisher (-fsquangle) which can be 
# set to "on" by default. This causes linker problems, so we
# default to "off".

ifdef GCC_2_95
CFLAGS		+= -fno-squangle
CXXFLAGS	+= -fno-squangle
endif

LIBS         += -ldyninstAPI 

SYSLIBS      += -liberty -L$(TCLTK_LIB_DIR) $(TCL_LIB)

all: $(TARGET) $(TEST_TARGET)

MUTATEE_CFLAGS += $(MODCFLAGS) -g

$(TEST_TARGET): $(TEST_SRC)
	$(CXX) $(MUTATEE_CFLAGS) -o $(TEST_TARGET) $(TEST_SRC)

LEXFLAGS += -P$(TARGET)
YACCFLAGS += -d -b $(TARGET) -p $(TARGET)

lex.$(TARGET).C: ../src/cmdline.l $(TARGET).tab.h
	$(LEX) $(LEXFLAGS) ../src/cmdline.l
	mv lex.$(TARGET).c lex.$(TARGET).C

$(TARGET).tab.h: $(TARGET).tab.C
$(TARGET).tab.C: ../src/cmdline.y
	$(YACC) $(YACCFLAGS) ../src/cmdline.y
	mv $(TARGET).tab.c $(TARGET).tab.C
