# 
# Common makefile template for dyninst Tests.  This file is not intended to
# be a useful Makefile in isolation; instead, it should be included
# from within an architecture-specific Makefile.
#
# $Id: nmake.module.tmpl,v 1.9 2001/02/01 16:25:17 pcroth Exp $
#

SUITE_NAME	= Dyninst
RELEASE_NUM	= 1.1
#BUILD_MARK should be (re-)defined in core/make.config.local rather than here!

TARGET          = dyner.exe
TEST_TARGET     = testDyner.exe

SRCS	      = ../src/$(TARGET:.exe=.C) lex.$(TARGET:.exe=.c) $(TARGET:.exe=.tab).c
TEST_SRC      = ../tests/$(TEST_TARGET:.exe=.C)

OBJS	      = $(TARGET:.exe=.obj) lex.$(TARGET:.exe=.obj) $(TARGET:.exe=.tab).obj

IFLAGS       = $(IFLAGS) -I$(TO_CORE)/dyninstAPI/h -I../src 

LIBS		= $(TO_CORE)/$(LIBRARY_DEST)/libdyninstAPI.lib

SYSLIBS		= -LIBPATH:$(TCLTK_DIR)\lib $(TCL_LIB)

all: $(TARGET) $(TEST_TARGET)

$(TEST_TARGET:.exe=.obj): $(TEST_SRC)
	$(CC) $(CXXFLAGS) -c -o $(TEST_TARGET:.exe=.obj) $(TEST_SRC)

$(TEST_TARGET): $(TEST_TARGET:.exe=.obj)
	$(LINK) -out:$(TEST_TARGET) $(LDFLAGS) -debug -pdb:none \
		$(TEST_TARGET:.exe=.obj)

LEXFLAGS = -P$(TARGET:.exe=)
YACCFLAGS = -d -b $(TARGET:.exe=) -p $(TARGET:.exe=)

lex.$(TARGET:.exe=.c): ../src/cmdline.l
	$(LEX) $(LEXFLAGS) ../src/cmdline.l

$(TARGET:.exe=.tab).c $(TARGET:.exe=.tab).h: ../src/cmdline.y
	$(YACC) $(YACCFLAGS) ../src/cmdline.y
