#
# Common makefile template for rtinst library.  This file is not
# intended to be a useful Makefile in isolation; instead, it should be
# included from within an architecture-specific Makefile.
#
# $Id: make.module.tmpl,v 1.21 2003/07/31 19:01:15 schendel Exp $
#

ifndef TARGET
TARGET		= libparadynRT.o
endif

TARGET3_SO	= libparadynRT.so.1

ifdef INCLUDE_CP_PROFILING
TARGET2		= libdyninstCP.o
CP_OBJS		= RTcriticalPath.o
endif

ifdef BUILD_CODE_BLOCKS        
ALT_TARGET	= DYNINSTstartCode.o DYNINSTendCode.o 
endif

MODCC         = $(CC)
MODCFLAGS     = $(CFLAGS)

SRCS	     += ../src/RTinst.c ../src/RTend.c

ifdef USES_SHM_SAMPLING
CFLAGS	+= -DSHM_SAMPLING
endif

#all: $(TARGET) $(TARGET2) 
all: $(TARGET3_SO) $(TARGET2)

OBJS =		$(patsubst %.C, %.o, $(filter %.C,$(notdir $(SRCS)))) \
		$(patsubst %.c, %.o, $(filter %.c,$(notdir $(SRCS)))) \
		$(patsubst %.s, %.o, $(filter %.s,$(notdir $(SRCS)))) \
		$(patsubst %.S, %.o, $(filter %.S,$(notdir $(SRCS)))) \
		$(IGEN_GEN_SRCS:%.C=%.o)

#
# override standard install rule; provide a default DEST if not already set
#
ifndef DEST
DEST		= $(TO_CORE)/$(LIBRARY_DEST)
endif

