#
# Common makefile template for rtinst library.  This file is not
# intended to be a useful Makefile in isolation; instead, it should be
# included from within an architecture-specific Makefile.
#
# $Id: nmake.module.tmpl,v 1.6 2003/02/04 14:59:46 bernat Exp $
#

!ifndef TARGET
TARGET	      = libparadynRT.dll
!endif

MODCC         = $(CC)
MODCFLAGS     = $(CFLAGS)

SRCS		= ../src/RTfirst.c $(SRCS) ../src/RTinst.c ../src/RTend.c

OBJS		= RTfirst.obj $(OBJS) RTinst.obj RTend.obj

!ifdef USES_SHM_SAMPLING
CFLAGS	= $(CFLAGS) -DSHM_SAMPLING
!endif

all: $(TARGET)

#
# override standard link rule; libdyninst is not really a library or a program.
#
UNCOMMON_LINK= true

#$(TARGET): $(OBJS) $(DYNOBJS) $(LIBS)
#	$(LD) $(LDFLAGS) -out:$(TARGET) $(OBJS) $(LIBS)

#
# override standard install rule; provide a default DEST if not already set
#
!ifndef DEST
DEST		= $(TO_CORE)\$(LIBRARY_DEST)
!endif

UNCOMMON_INSTALL= true
install: $(DEST)/$(TARGET)

$(DEST)/libparadynRT.dll:       libparadynRT.dll
	$(CP) libparadynRT.dll $(DEST)
