# 
# Common makefile template for the dyninstAPI library.  This file is not
# intended to be a useful Makefile in isolation; instead, it should be
# included from within an architecture-specific Makefile.
#
# $Id: make.module.tmpl,v 1.100 2008/09/15 17:38:17 jaw Exp $
#

SUITE_NAME	= Dyninst
RELEASE_NUM	= 5.2
#BUILD_MARK should be (re-)defined in core/make.config.local rather than here!

DEFINES		     += -DBPATCH_LIBRARY 
DEFINES          += -DBPATCH_SET_MUTATIONS_ACTIVE
DEFINES          += -DBPATCH_LIBRARY_F 
DEFINES          += -DNEW_TIME_TYPES

CFLAGS		     += $(USEFULWARNINGS) $(DEFINES)
CXXFLAGS	     += $(USEFULWARNINGS) $(DEFINES)
TFLAGS		     += $(TCLFRIENDLYWARNINGS) $(DEFINES)

ifdef GCC_2_95
# This may cause problems on Alpha
# GCC has a new mangled name squisher (-fsquangle) which can be 
# set to "on" by default. This causes linker problems, so we
# default to "off".
CFLAGS		+= -fno-squangle
CXXFLAGS	+= -fno-squangle
TFLAGS		+= -fno-squangle
endif

TARGET		?= libdyninstAPI.so


ifneq ($(findstring cap_instruction_api,$(CAP_DEF)),)
	LDFLAGS += -linstructionAPI
endif

LDFLAGS += -lpthread -lsymtabAPI -lcommon -lparseAPI

LDFLAGS     += -L../../common/$(PLATFORM) 
LDFLAGS     += -L../../symtabAPI/$(PLATFORM) 
LDFLAGS     += -L../../instructionAPI/$(PLATFORM)
LDFLAGS     += -L../../parseAPI/$(PLATFORM)

ifndef USES_NATIVE_CC
LD		= $(GXX)
LDFLAGS		+= -shared $(G_PTHREAD_LD) 
CFLAGS		+= -fPIC
CXXFLAGS	+= -fPIC $(G_PTHREAD)
else
ifeq (solaris,$(findstring solaris,$(PLATFORM)))
LDFLAGS		+= -G
endif #sparc
endif #USES_NATIVE
TFLAGS		+= -fPIC

VPATH	     += ../../dyninstAPI/src:../dyninstAPI/h:\
                ../../common/src:../../paradyn/h
VPATH += ../src/Relocation
VPATH += ../src/Relocation/Atoms
VPATH += ../src/Relocation/Transformers


ifdef AUTO_TEMPLATES
CFLAGS += -DAUTO_TEMPLATES
CXXFLAGS += -DAUTO_TEMPLATES
endif

ifndef AUTO_TEMPLATES
SRCS         += ../src/BPatch_templates.C \
		../src/templates0.C \
		../src/templates1.C \
		../src/templates2.C 

endif

SRCS	     +=	../src/BPatch.C \
		../src/BPatch_image.C \
		../src/BPatch_function.C \
		../src/BPatch_snippet.C \
		../src/BPatch_thread.C \
              ../src/BPatch_process.C \
		../src/BPatch_type.C \
		../src/BPatch_module.C \
                ../src/BPatch_point.C \
                ../src/BPatch_collections.C \
                ../src/BPatch_sourceBlock.C \
                ../src/BPatch_basicBlock.C \
                ../src/BPatch_basicBlockLoop.C \
                ../src/BPatch_edge.C \
                ../src/BPatch_loopTreeNode.C \
                ../src/BPatch_flowGraph.C \
                ../src/BPatch_frame.C \
		../src/BPatch_parRegion.C \
		../src/BPatch_statement.C \
		../src/BPatch_addressSpace.C \
		../src/BPatch_binaryEdit.C \
                ../src/MemoryAccess.C \
                ../src/dummy.C \
                ../src/debug.C \
                ../src/ast.C \
                ../src/registerSpace.C \
                ../src/codegen.C \
                ../src/inst.C \
                ../src/instPoint.C \
                ../src/baseTramp.C \
                ../src/miniTramp.C \
                ../src/dyn_thread.C \
                ../src/addressSpace.C \
                ../src/process.C \
                ../src/binaryEdit.C \
                ../src/infHeap.C \
                ../src/dyn_lwp.C \
                ../src/frame.C \
                ../src/signalhandler.C \
                ../src/signalgenerator.C \
                                ../src/eventgate.C \
                ../src/callbacks.C \
                ../src/mailbox.C \
                ../src/EventHandler.C \
                ../src/rpcMgr.C \
                ../src/rpcMgr-lwp.C \
                ../src/rpcMgr-thr.C \
                ../src/codeRange.C \
                ../src/symtab.C \
                ../src/dominator.C \
                ../src/image-func.C \
                ../src/mapped_object.C \
                ../src/mapped_module.C \
                ../src/function.C \
                ../src/variable.C \
		../src/util.C \
                ../src/BPatch_instruction.C \
                ../src/BPatch_asyncEventHandler.C \
                ../src/BPatch_eventLock.C \
                ../src/parRegion.C \
                ../src/liveness.C \
		../src/InstructionCache.C \
                ../src/Parsing.C \
                ../src/Parsing-arch.C \
                ../src/hybridInstrumentation.C \
                ../src/hybridOverwrites.C \
                ../src/hybridCallbacks.C \
		../src/Relocation/CodeMover.C \
		../src/Relocation/Springboard.C \
		../src/Relocation/Atoms/ASTAtom.C \
		../src/Relocation/Atoms/Atom.C \
		../src/Relocation/Atoms/CFAtom.C \
		../src/Relocation/Atoms/CopyInsn.C \
		../src/Relocation/Atoms/GetPC.C \
		../src/Relocation/Atoms/Instrumentation.C \
		../src/Relocation/Atoms/MemoryEmulator.C \
		../src/Relocation/Atoms/Padding.C \
		../src/Relocation/Atoms/RelData.C \
		../src/Relocation/Transformers/CF_Localization.C \
		../src/Relocation/Transformers/ControlFlow.C \
		../src/Relocation/Transformers/Defensive.C \
		../src/Relocation/Transformers/EmulateMemory.C \
		../src/Relocation/Transformers/Fallthroughs.C \
		../src/Relocation/Transformers/Instrumenter.C \
		../src/Relocation/Transformers/Modification.C \
		../src/Relocation/Transformers/Movement-adhoc.C \
		../src/Relocation/Transformers/Movement-analysis.C \
		../src/Relocation/AddressMapper.C \
		../src/Relocation/CodeTracker.C \
                ../src/Relocation/CodeBuffer.C

TO_INC   = ../h
PUBLIC_H = BPatch_addressSpace.h \
           BPatch_basicBlock.h \
           BPatch_basicBlockLoop.h \
           BPatch_binaryEdit.h \
           BPatch_callbacks.h \
           BPatch_dll.h \
           BPatch_edge.h \
           BPatch_eventLock.h \
           BPatch_flowGraph.h \
           BPatch_frame.h \
           BPatch_function.h \
           BPatch.h \
           BPatch_hybridAnalysis.h \
           BPatch_image.h \
           BPatch_instruction.h \
           BPatch_loopTreeNode.h \
           BPatch_memoryAccess_NP.h \
           BPatch_module.h \
           BPatch_parRegion.h \
           BPatch_point.h \
           BPatch_process.h \
           BPatch_Set.h \
           BPatch_snippet.h \
           BPatch_sourceBlock.h \
           BPatch_sourceObj.h \
           BPatch_statement.h \
           BPatch_thread.h \
           BPatch_type.h \
           BPatch_Vector.h
#           BPatch_dependenceGraphEdge.h \
#           BPatch_dependenceGraphNode.h \


#IGEN_GEN_SRCS = 

#IGEN_ISRCS    = 

IFLAGS      += -I../$(PLATFORM) -I../src -I../h -I../../dynutil/h 
IFLAGS      += -I../../symtabAPI/h -I../../instructionAPI/h
IFLAGS      += -I../../parseAPI/h -I../../dataflowAPI/h

# All that, and we finally get a target...
all: $(TARGET) $(EXTRA_LIBS)


# I couldn't figure out how to explicitly instantiate a templated
# function whose template arguments are protected members of
# LineInformation, but apparently the compiler can.  Since the
# function is only used internally by LineInformation, the
# templates won't be duplicated.
# LineInformation.o : ../../dyninstAPI/src/LineInformation.C
#	$(CXX) $(DEBUG_FLAG) $(TFLAGS) -c $<
    
BPatch_templates.o: ../src/BPatch_templates.C
	@echo "Building $<"
	$(HIDE_COMP)$(CXX) $(TFLAGS) -c ../src/BPatch_templates.C

templates0.o: ../src/templates0.C
	@echo "Building $<"
	$(HIDE_COMP)$(CXX) $(TFLAGS) -c ../src/templates0.C

templates1.o: ../src/templates1.C
	@echo "Building $<"
	$(HIDE_COMP)$(CXX) $(TFLAGS) -c ../src/templates1.C

templates2.o: ../src/templates2.C
	@echo "Building $<"
	$(HIDE_COMP)$(CXX) $(TFLAGS) -c ../src/templates2.C
