#
# Common makefile template for dyninstAPI library.  This file is not
# intended to be a useful Makefile in isolation; instead, it should be
# included from within an architecture-specific Makefile.
#
# $Id: nmake.module.tmpl,v 1.39 2005/03/01 23:07:30 bernat Exp $
#

SUITE_NAME	= Dyninst
RELEASE_NUM	= 4.1
#BUILD_MARK should be (re-)defined in core/make.config.local rather than here!

TARGET = libdyninstAPI.dll

# building as a DLL is not the common case
UNCOMMON_LINK		= true
UNCOMMON_INSTALL	= true



DEFINES      = -DBPATCH_LIBRARY -DBPATCH_SET_MUTATIONS_ACTIVE -DBPATCH_LIBRARY_F -DNEW_TIME_TYPES
CFLAGS       = $(CFLAGS) $(DEFINES)
CXXFLAGS     = $(CXXFLAGS) $(DEFINES)

IFLAGS       = $(IFLAGS) -I../h

SRCS	     = $(SRCS) BPatch.C \
		BPatch_image.C \
		BPatch_function.C \
		BPatch_snippet.C \
		BPatch_templates.C \
		BPatch_thread.C \
		BPatch_type.C \
		BPatch_init.C \
		BPatch_module.C \
		BPatch_point.C \
		BPatch_collections.C \
      BPatch_edge.C \
      BPatch_loopTreeNode.C \
		LineInformation.C \
		BPatch_instruction.C \
		BPatch_sourceBlock.C \
		BPatch_basicBlock.C \
		BPatch_basicBlockLoop.C \
		BPatch_flowGraph.C \
		BPatch_asyncEventHandler.C \
		BPatch_eventLock.C \
                MemoryAccess.C \
		dummy.C \
		api_showerror.C \
		ast.C \
		CodeView.C \
		inst.C \
		instPoint.C \
		Object.C \
		Object-nt.C \
		process.C \
		frame.C \
		dyn_thread.C \
		dyn_lwp.C \
      signalhandler.C \
		rpcMgr.C \
		rpcMgr-thr.C \
		rpcMgr-lwp.C \
		installed_miniTramps_list.C \
		stats.C \
		symtab.C \
		function.C \
		util.C \
		sharedobject.C \
		trampTemplate.C \
		edgeTrampTemplate.C \
		codeRange.C \
                ../../common/src/Dictionary.C \
                ../../common/src/Ident.C \
                ../../common/src/String.C \
                ../../common/src/Timer.C \
                ../../common/src/Types.C \
                ../../common/src/debugOstream.C \
                ../../common/src/lprintf.C \
                ../../common/src/pathName.C \
                ../../common/src/vectorSet.C \
                ../../common/src/int64iostream.C \
                ../../common/src/timing.C \
                ../../common/src/Time.C \
                ../../common/src/fraction.C \
                ../../common/src/timing-nt.C \
		templates-nt.C

OBJS         = $(OBJS) BPatch.obj \
		BPatch_image.obj \
		BPatch_function.obj \
		BPatch_snippet.obj \
		BPatch_templates.obj \
		BPatch_thread.obj \
		BPatch_type.obj \
		BPatch_init.obj \
		BPatch_module.obj \
		BPatch_point.obj \
		BPatch_collections.obj \
      BPatch_edge.obj \
      BPatch_loopTreeNode.obj \
		LineInformation.obj \
		BPatch_instruction.obj \
		BPatch_sourceBlock.obj \
		BPatch_basicBlock.obj \
		BPatch_basicBlockLoop.obj \
		BPatch_flowGraph.obj \
		BPatch_asyncEventHandler.obj \
		BPatch_eventLock.obj \
		MemoryAccess.obj \
		dummy.obj \
		api_showerror.obj \
		ast.obj \
		CodeView.obj \
		inst.obj \
		instPoint.obj \
		Object.obj \
		Object-nt.obj \
		process.obj \
		frame.obj \
		dyn_thread.obj \
		dyn_lwp.obj \
      signalhandler.obj \
      rpcMgr.obj \
		rpcMgr-thr.obj \
		rpcMgr-lwp.obj \
		installed_miniTramps_list.obj \
		stats.obj \
		symtab.obj \
		function.obj \
		util.obj \
		sharedobject.obj \
                Dictionary.obj \
                Ident.obj \
                String.obj \
                Timer.obj \
                Types.obj \
                debugOstream.obj \
                lprintf.obj \
                pathName.obj \
                vectorSet.obj \
                int64iostream.obj \
                timing.obj \
                Time.obj \
                fraction.obj \
                timing-nt.obj \
		templates-nt.obj

all: $(TARGET)

{..\..\common\src\}.C.obj:
	$(CXX) $(CXXFLAGS) -c $<

{..\src\}.C.obj:
	$(CXX) $(CXXFLAGS) -c $<

$(DEST)\libdyninstAPI.dll:	libdyninstAPI.dll
	$(CP) libdyninstAPI.dll $(DEST)

