#
# Common makefile template for dyninstAPI library.  This file is not
# intended to be a useful Makefile in isolation; instead, it should be
# included from within an architecture-specific Makefile.
#
# $Id: nmake.module.tmpl,v 1.5 1998/09/15 04:15:35 buck Exp $
#

SUITE_NAME	= DynInst
RELEASE_NUM	= 1.2
#BUILD_MARK should be (re-)defined in core/make.config.local rather than here!

TARGET = libdyninstAPI.lib

DEFINES      = -DBPATCH_LIBRARY -DBPATCH_SET_MUTATIONS_ACTIVE -DBPATCH_LIBRARY_F
CFLAGS       = $(CFLAGS) $(DEFINES)
CXXFLAGS     = $(CXXFLAGS) $(DEFINES)

IFLAGS       = $(IFLAGS) -I../h

SRCS	     = $(SRCS) BPatch.C \
		BPatch_image.C \
		BPatch_snippet.C \
		BPatch_templates.C \
		BPatch_thread.C \
		BPatch_type.C \
		BPatch_init.C \
		BPatch_module.C \
		BPatch_point.C \
		dummy.C \
		api_showerror.C \
		ast.C \
		inst.C \
		process.C \
		stats.C \
		symtab.C \
		util.C \
		sharedobject.C \
		templates-nt.C

OBJS         = $(OBJS) BPatch.obj \
		BPatch_image.obj \
		BPatch_snippet.obj \
		BPatch_templates.obj \
		BPatch_thread.obj \
		BPatch_type.obj \
		BPatch_init.obj \
		BPatch_module.obj \
		BPatch_point.obj \
		dummy.obj \
		api_showerror.obj \
		ast.obj \
		inst.obj \
		process.obj \
		stats.obj \
		symtab.obj \
		util.obj \
		sharedobject.obj \
		templates-nt.obj

all: $(TARGET)

{..\src\}.C.obj:
	$(CXX) $(CXXFLAGS) -c $<
