# 
# Common makefile template for dyninst Tests.  This file is not intended to
# be a useful Makefile in isolation; instead, it should be included
# from within an architecture-specific Makefile.
#
# $Id: make.module.tmpl,v 1.11 1999/06/18 21:49:07 hollings Exp $
#

SUITE_NAME	= Dyninst
RELEASE_NUM	= 1.2
#BUILD_MARK should be (re-)defined in core/make.config.local rather than here!

DEST		= $(TO_CORE)/$(PROGRAM_DEST)/testprogs

ifdef TARGET
SRCS	     += ../src/$(TARGET).C ../src/test_util.C
else
TARGETS        = test1 test2 test1.mutatee test2.mutatee 
ifdef USES_LIBDYNINSTRT_SO
TARGETS      += libtestA.so libtestB.so
endif
SRCS	     += ../src/test1.C ../src/test2.C ../src/test_util.C \
		../src/test1.mutatee.c ../src/test2.mutatee.c \
                ../src/libtestA.c ../src/libtestB.c
endif

VPATH	     +=

CXXFLAGS     += -I../../h
CFLAGS       += -I../../h

LIBS         += -ldyninstAPI
ifndef USES_LIBDYNINST_SO
LIBS         += -lpdutil
endif
SYSLIBS      += -liberty

all:
	$(MAKE) aTest TARGET=test1 TARGET2=test1.mutatee
	$(MAKE) aTest TARGET=test2 TARGET2=test2.mutatee
	$(MAKE) aTest TARGET=test3 TARGET2=test3.mutatee
	$(MAKE) testlibs

pc:
	$(MAKE) purecov TARGET=test1 TARGET2=test1.mutatee
	$(MAKE) purecov TARGET=test2 TARGET2=test2.mutatee

aTest:	$(TARGET) $(TARGET2)

ifdef USES_LIBDYNINSTRT_SO
testlibs: libtestA.so libtestB.so
else
testlibs:
endif

UNCOMMON_INSTALL=true

install: all
	-@$(MKDIR) $(DEST)
	-$(CP) $(TARGETS) $(DEST)

