# 
# Common makefile template for dyninst Tests.  This file is not intended to
# be a useful Makefile in isolation; instead, it should be included
# from within an architecture-specific Makefile.
#
# $Id: make.module.tmpl,v 1.26 2000/07/24 18:56:15 hollings Exp $
#

SUITE_NAME	= Dyninst
RELEASE_NUM	= 2.2beta
#BUILD_MARK should be (re-)defined in core/make.config.local rather than here!

DEST		= $(TO_CORE)/$(PROGRAM_DEST)/testprogs

ifdef TARGET
SRCS	     += ../src/$(TARGET).C ../src/test_util.C
else
TARGETS        = test1 test2 test3 test4 \
		 test1.mutatee_gcc \
		 test2.mutatee_gcc \
		 test3.mutatee_gcc \
		 test4a.mutatee_gcc \
		 test4b.mutatee_gcc

ifdef NATIVE_CC
TARGETS      +=  test1.mutatee_$(NATIVE_CC) \
		 test2.mutatee_$(NATIVE_CC) \
		 test3.mutatee_$(NATIVE_CC) \
		 test4a.mutatee_$(NATIVE_CC) \
		 test4b.mutatee_$(NATIVE_CC)
endif

ifdef GNU_CXX	
TARGETS      +=  test1.mutatee_$(GNU_CXX) \
		 test2.mutatee_$(GNU_CXX) \
		 test3.mutatee_$(GNU_CXX) \
		 test4a.mutatee_$(GNU_CXX) \
		 test4b.mutatee_$(GNU_CXX)
endif
		
ifdef NATIVE_CXX

USES_NATIVE_CC  =   true

ifeq ($(DEBUG_FLAG),-gstabs+)
DEBUG_FLAG =
endif

TARGETS      +=  test1.mutatee_$(NATIVE_CXX) \
		 test2.mutatee_$(NATIVE_CXX) \
		 test3.mutatee_$(NATIVE_CXX) \
		 test4a.mutatee_$(NATIVE_CXX) \
		 test4b.mutatee_$(NATIVE_CXX)
endif


ifdef USES_LIBDYNINSTRT_SO
TARGETS      += libtestA.so libtestB.so
endif
SRCS	     += ../src/test1.C ../src/test1.mutatee.c ../src/test_util.C \
		../src/test2.C ../src/test2.mutatee.c \
		../src/test3.C ../src/test3.mutatee.c \
		../src/test4.C ../src/test4a.mutatee.c ../src/test4b.mutatee.c \
                ../src/libtestA.c ../src/libtestB.c

endif

VPATH	     +=

CXXFLAGS     += -I../../h $(BASICWARNINGS)
CFLAGS       += -I../../h $(BASICWARNINGS)

#LIBS         += -static -ldyninstAPI -lpdutil
LIBS         += -ldyninstAPI -lpdutil
ifndef USES_LIBDYNINST_SO
LIBS         += -lpdutil
endif
SYSLIBS      += -liberty

all:
	$(MAKE) aTest MUTATEE_CC=gcc TARGET=test1 TARGET2=test1.mutatee_gcc
	$(MAKE) aTest MUTATEE_CC=gcc TARGET=test2 TARGET2=test2.mutatee_gcc
	$(MAKE) aTest MUTATEE_CC=gcc TARGET=test3 TARGET2=test3.mutatee_gcc
	$(MAKE) aTest MUTATEE_CC=gcc TARGET=test4 TARGET2=test4a.mutatee_gcc
	$(MAKE) aTest MUTATEE_CC=gcc TARGET2=test4b.mutatee_gcc
	$(MAKE) testlibs
ifdef NATIVE_CC
	$(MAKE) aTest MUTATEE_CC=$(NATIVE_CC) TARGET2=test1.mutatee_$(NATIVE_CC)
	$(MAKE) aTest MUTATEE_CC=$(NATIVE_CC) TARGET2=test2.mutatee_$(NATIVE_CC)
	$(MAKE) aTest MUTATEE_CC=$(NATIVE_CC) TARGET2=test3.mutatee_$(NATIVE_CC)
	$(MAKE) aTest MUTATEE_CC=$(NATIVE_CC) TARGET2=test4a.mutatee_$(NATIVE_CC)
	$(MAKE) aTest MUTATEE_CC=$(NATIVE_CC) TARGET2=test4b.mutatee_$(NATIVE_CC)
endif

ifdef GNU_CXX
	$(MAKE) aTest MUTATEE_CC=$(GNU_CXX) TARGET2=test1.mutatee_$(GNU_CXX)
	$(MAKE) aTest MUTATEE_CC=$(GNU_CXX) TARGET2=test2.mutatee_$(GNU_CXX)
	$(MAKE) aTest MUTATEE_CC=$(GNU_CXX) TARGET2=test3.mutatee_$(GNU_CXX)
	$(MAKE) aTest MUTATEE_CC=$(GNU_CXX) TARGET2=test4a.mutatee_$(GNU_CXX)
	$(MAKE) aTest MUTATEE_CC=$(GNU_CXX) TARGET2=test4b.mutatee_$(GNU_CXX)
endif

ifdef NATIVE_CXX
	$(MAKE) aTest MUTATEE_CC=$(NATIVE_CXX) TARGET2=test1.mutatee_$(NATIVE_CXX)
	$(MAKE) aTest MUTATEE_CC=$(NATIVE_CXX) TARGET2=test2.mutatee_$(NATIVE_CXX)
	$(MAKE) aTest MUTATEE_CC=$(NATIVE_CXX) TARGET2=test3.mutatee_$(NATIVE_CXX)
	$(MAKE) aTest MUTATEE_CC=$(NATIVE_CXX) TARGET2=test4a.mutatee_$(NATIVE_CXX)
	$(MAKE) aTest MUTATEE_CC=$(NATIVE_CXX) TARGET2=test4b.mutatee_$(NATIVE_CXX)
endif

pc:
	$(MAKE) purecov TARGET=test1 TARGET2=test1.mutatee
	$(MAKE) purecov TARGET=test2 TARGET2=test2.mutatee

aTest:	$(TARGET) $(TARGET2)

ifdef USES_LIBDYNINSTRT_SO
testlibs: libtestA.so libtestB.so
else
testlibs:
endif

# test1.mutatee uses dlopen for replaceFunction tests
# (currently only implemented on SPARC/Solaris and Alpha/Tru64)
# It also uses it for detach-on-the-fly on Linux.
ifeq (test1,$(findstring test1,$(TARGET2)))
ifdef USES_MUTATEE_LIBS
MUTLIBS=$(MUTATEE_LIBS)
endif
endif
# test2.mutatee uses dlopen to force a dynamic object load
ifeq (test2,$(findstring test2,$(TARGET2)))
MUTLIBS=$(MUTATEE_LIBS)
endif

UNCOMMON_INSTALL=true

install: all
	-@$(MKDIR) $(DEST)
	-$(CP) $(TARGETS) $(DEST)

