# 
# Common makefile template for dyninst Tests.  This file is not intended to
# be a useful Makefile in isolation; instead, it should be included
# from within an architecture-specific Makefile.
#
#

VPATH	     +=

ifdef TARGET
SRCS	     += ../src/$(TARGET).C ../src/test_util.C
else
TARGET        = test1 test2 test1.mutatee test2.mutatee
SRCS	     += ../src/test1.C ../src/test2.C ../src/test_util.C \
		../src/test1.mutatee.c ../src/test2.mutatee.c
endif

CXXFLAGS     += -I../../h
CFLAGS       += -I../../h

LIBS         += -ldyninstAPI -lpdutil
SYSLIBS      += -liberty

all:
	$(MAKE) aTest TARGET=test1 TARGET2=test1.mutatee
	$(MAKE) aTest TARGET=test2 TARGET2=test2.mutatee

pc:
	$(MAKE) purecov TARGET=test1 TARGET2=test1.mutatee
	$(MAKE) purecov TARGET=test2 TARGET2=test2.mutatee

aTest:	$(TARGET) $(TARGET2)
