# 
# Common makefile template for dyninst Tests.  This file is not intended to
# be a useful Makefile in isolation; instead, it should be included
# from within an architecture-specific Makefile.
#
# $Id: nmake.module.tmpl,v 1.17 2001/03/14 14:02:24 pcroth Exp $
#

SUITE_NAME	= Dyninst
RELEASE_NUM	= 2.3
#BUILD_MARK should be (re-)defined in core/make.config.local rather than here!

DEST		= $(TO_CORE)\$(PROGRAM_DEST)\testprogs

!ifdef TARGET
SRCS	      = ../src/$(TARGET:.exe=.C) ../src/test_util.C
OBJS          = $(TARGET:.exe=.obj) test_util.obj
!else
TARGETS       = test1.exe test2.exe test3.exe test4.exe test5.exe
!ifdef NATIVE_CC
TARGETS       = $(TARGETS) \
                test1.mutatee_$(NATIVE_CC).exe \
                test2.mutatee_$(NATIVE_CC).exe \
                test3.mutatee_$(NATIVE_CC).exe \
                test4a.mutatee_$(NATIVE_CC).exe \
                test4b.mutatee_$(NATIVE_CC).exe
!endif
!ifdef NATIVE_CXX
TARGETS       = $(TARGETS) \
                test1.mutatee_$(NATIVE_CXX).exe \
                test2.mutatee_$(NATIVE_CXX).exe \
                test3.mutatee_$(NATIVE_CXX).exe \
                test4a.mutatee_$(NATIVE_CXX).exe \
                test4b.mutatee_$(NATIVE_CXX).exe \
                test5.mutatee_$(NATIVE_CXX).exe
!endif
!ifdef GNU_CC
TARGETS       = $(TARGETS) \
                test1.mutatee_$(GNU_CC).exe \
                test2.mutatee_$(GNU_CC).exe \
                test3.mutatee_$(GNU_CC).exe \
                test4a.mutatee_$(GNU_CC).exe \
                test4b.mutatee_$(GNU_CC).exe
!endif
!ifdef GNU_CXX
TARGETS       = $(TARGETS) \
                test1.mutatee_$(GNU_CXX).exe \
                test2.mutatee_$(GNU_CXX).exe \
                test3.mutatee_$(GNU_CXX).exe \
                test4a.mutatee_$(GNU_CXX).exe \
                test4b.mutatee_$(GNU_CXX).exe \
                test5.mutatee_$(GNU_CXX).exe
!endif
SRCS	      = ../src/test1.C ../src/test1.mutatee.c ../src/test_util.C \
		../src/test2.C ../src/test2.mutatee.c \
		../src/test3.C ../src/test3.mutatee.c \
		../src/test4.C ../src/test4a.mutatee.c \
		../src/test4b.mutatee.c \
		../src/test5.C ../src/test5.mutatee.C
OBJS          = test1.obj test2.obj test3.obj test4.obj test5.obj test_util.obj
!endif

CXXFLAGS     = $(CXXFLAGS) -I../../h
CFLAGS       = $(CFLAGS) -I../../h

LIBS		= $(TO_CORE)\$(LIBRARY_DEST)\libdyninstAPI.lib

SYSLIBS		= 

all:
	$(MAKE) aTest TARGET=test1.exe
	$(MAKE) aTest TARGET=test2.exe
	$(MAKE) aTest TARGET=test3.exe
	$(MAKE) aTest TARGET=test4.exe
	$(MAKE) aTest TARGET=test5.exe
!ifdef NATIVE_CC
	$(MAKE) aTest MUTATEE_CC=$(NATIVE_CC) TARGET2=test1.mutatee_$(NATIVE_CC).exe
	$(MAKE) aTest MUTATEE_CC=$(NATIVE_CC) TARGET2=test2.mutatee_$(NATIVE_CC).exe
	$(MAKE) aTest MUTATEE_CC=$(NATIVE_CC) TARGET2=test3.mutatee_$(NATIVE_CC).exe
	$(MAKE) aTest MUTATEE_CC=$(NATIVE_CC) TARGET2=test4a.mutatee_$(NATIVE_CC).exe
	$(MAKE) aTest MUTATEE_CC=$(NATIVE_CC) TARGET2=test4b.mutatee_$(NATIVE_CC).exe
!endif
!ifdef NATIVE_CXX
	$(MAKE) aTest MUTATEE_CC=$(NATIVE_CXX) TARGET2=test1.mutatee_$(NATIVE_CXX).exe
	$(MAKE) aTest MUTATEE_CC=$(NATIVE_CXX) TARGET2=test2.mutatee_$(NATIVE_CXX).exe
	$(MAKE) aTest MUTATEE_CC=$(NATIVE_CXX) TARGET2=test3.mutatee_$(NATIVE_CXX).exe
	$(MAKE) aTest MUTATEE_CC=$(NATIVE_CXX) TARGET2=test4a.mutatee_$(NATIVE_CXX).exe
	$(MAKE) aTest MUTATEE_CC=$(NATIVE_CXX) TARGET2=test4b.mutatee_$(NATIVE_CXX).exe
	$(MAKE) aTest MUTATEE_CC=$(NATIVE_CXX) TARGET2=test5.mutatee_$(NATIVE_CXX).exe MUTATEE_SUFFIX=.C
!endif
!ifdef GNU_CC
	$(MAKE) aTest MUTATEE_CC=$(GNU_CC) TARGET2=test1.mutatee_$(GNU_CC).exe
	$(MAKE) aTest MUTATEE_CC=$(GNU_CC) TARGET2=test2.mutatee_$(GNU_CC).exe
	$(MAKE) aTest MUTATEE_CC=$(GNU_CC) TARGET2=test3.mutatee_$(GNU_CC).exe
	$(MAKE) aTest MUTATEE_CC=$(GNU_CC) TARGET2=test4a.mutatee_$(GNU_CC).exe
	$(MAKE) aTest MUTATEE_CC=$(GNU_CC) TARGET2=test4b.mutatee_$(GNU_CC).exe
!endif
!ifdef GNU_CXX
	$(MAKE) aTest MUTATEE_CC=$(GNU_CXX) TARGET2=test1.mutatee_$(GNU_CXX).exe
	$(MAKE) aTest MUTATEE_CC=$(GNU_CXX) TARGET2=test2.mutatee_$(GNU_CXX).exe
	$(MAKE) aTest MUTATEE_CC=$(GNU_CXX) TARGET2=test3.mutatee_$(GNU_CXX).exe
	$(MAKE) aTest MUTATEE_CC=$(GNU_CXX) TARGET2=test4a.mutatee_$(GNU_CXX).exe
	$(MAKE) aTest MUTATEE_CC=$(GNU_CXX) TARGET2=test4b.mutatee_$(GNU_CXX).exe
	$(MAKE) aTest MUTATEE_CC=$(GNU_CXX) TARGET2=test5.mutatee_$(GNU_CXX).exe MUTATEE_SUFFIX=.C
!endif

aTest: $(TARGET) $(TARGET2)

UNCOMMON_INSTALL=true

install: all
	-$(MKDIR) $(DEST)
	cp $(TARGETS) $(DEST)

