# 
# Common makefile template for the dyninstAPI library.  This file is not
# intended to be a useful Makefile in isolation; instead, it should be
# included from within an architecture-specific Makefile.
#
# $Id: make.module.tmpl,v 1.17 2008/09/20 03:56:10 jaw Exp $
#

SUITE_NAME	= SymtabAPI 
RELEASE_MAJOR = 7
RELEASE_MINOR = 0
USES_DWARF_DEBUG = true
USES_LIBELF = true
#BUILD_MARK should be (re-)defined in core/make.config.local rather than here!

DEFINES		     += 

CFLAGS		     += $(USEFULWARNINGS) $(DEFINES)
CXXFLAGS	     += $(USEFULWARNINGS) $(DEFINES)
TFLAGS		     += $(TCLFRIENDLYWARNINGS) $(DEFINES)

ifdef GCC_2_95
# This may cause problems on Alpha
# GCC has a new mangled name squisher (-fsquangle) which can be 
# set to "on" by default. This causes linker problems, so we
# default to "off".
CFLAGS		+= -fno-squangle
CXXFLAGS	+= -fno-squangle
TFLAGS		+= -fno-squangle
endif

ifdef USE_LIBELF_SO_0
CFLAGS += -Dcap_libelf_so_0
CXXFLAGS += -Dcap_libelf_so_0
else
CFLAGS += -D_LARGEFILE64_SOURCE=1 -D__USE_FILE_OFFSET64=1
CXXFLAGS += -D_LARGEFILE64_SOURCE=1 -D__USE_FILE_OFFSET64=1
endif

ifndef TARGET
ifndef STATIC_COMPS
TARGET		= libsymtabAPI.so
else
TARGET      = libsymtabAPI.a
endif
endif

LDFLAGS     += -L../../common/$(PLATFORM) -lcommon

ifdef LIBDWARF_PLATFORM
LDFLAGS += -L../../dwarf/$(PLATFORM) -ldynDwarf
endif

ifdef LIBELF_PLATFORM
LDFLAGS += -L../../elf/$(PLATFORM) -ldynElf
endif

ifndef NO_LIBDL
LDFLAGS += -ldl
endif

ifndef USES_NATIVE_CC
LD		= $(GXX)
LDFLAGS		+= -shared $(G_PTHREAD_LD)
CFLAGS		+= 
CXXFLAGS	+= $(G_PTHREAD)
else
ifeq (solaris,$(findstring solaris,$(PLATFORM)))
LDFLAGS		+= -G
endif #sparc
endif #USES_NATIVE
TFLAGS		+= 

VPATH	     += ../../symtabAPI/h

SRCS	     +=	../src/Object.C \
                ../src/Aggregate.C \
                ../src/Function.C \
                ../src/Variable.C \
                ../src/Symbol.C \
		../src/LineInformation.C \
		../src/Symtab.C \
                ../src/Symtab-edit.C \
                ../src/Symtab-lookup.C \
                ../src/Symtab-deprecated.C \
		../src/Module.C \
		../src/Region.C \
		../src/Collections.C \
		../src/Type.C \
		../src/AddrLookup.C \
                ../src/annotations.C \
                ../src/debug.C \
                ../src/SymtabReader.C \
                ../src/dwarfWalker.C \
                ../src/parseDwarf.C


TO_INC     = ../h
PUBLIC_H   = AddrLookup.h \
             Archive.h \
             Symbol.h \
             Symtab.h \
             Module.h \
             Region.h \
             symutil.h \
             Type.h \
             Collections.h \
             Function.h \
             Variable.h \
             LineInformation.h \
             RangeLookup.h \
             Aggregate.h \
             SymtabReader.h

#IGEN_GEN_SRCS = 

#IGEN_ISRCS    = 

ifndef USES_NATIVE_CC
ifdef CROSSCOMPILER
SYSLIBS		+= -lg++ -lstdc++ -lm
endif
else
SYSLIBS		+= -ldemangle
endif

IFLAGS       += -I../$(PLATFORM) -I../src -I../h

ifdef LIBXML2_INC
IFLAGS       += -I$(LIBXML2_INC)
else
IFLAGS	     += -I/usr/include/libxml2
endif
