# 
# Common makefile template for the dyninstAPI library.  This file is not
# intended to be a useful Makefile in isolation; instead, it should be
# included from within an architecture-specific Makefile.
#
# $Id: make.module.tmpl,v 1.10 2007/12/04 18:05:31 legendre Exp $
#

SUITE_NAME	= symtabAPI 
RELEASE_NUM	= 1.0
#BUILD_MARK should be (re-)defined in core/make.config.local rather than here!

DEFINES		     += -UMT_THREAD
		

CFLAGS		     += $(USEFULWARNINGS) $(DEFINES)
CXXFLAGS	     += $(USEFULWARNINGS) $(DEFINES)
TFLAGS		     += $(TCLFRIENDLYWARNINGS) $(DEFINES)

ifdef GCC_2_95
# This may cause problems on Alpha
# GCC has a new mangled name squisher (-fsquangle) which can be 
# set to "on" by default. This causes linker problems, so we
# default to "off".
CFLAGS		+= -fno-squangle
CXXFLAGS	+= -fno-squangle
TFLAGS		+= -fno-squangle
endif

ifndef TARGET
TARGET		= libsymtabAPI.so
endif

LDFLAGS += -lpthread
LDFLAGS     += $(LIBDIR) -lcommon -ldl

ifndef USES_NATIVE_CC
LD		= $(GXX)
LDFLAGS		+= -shared $(G_PTHREAD_LD)
CFLAGS		+= -fPIC
CXXFLAGS	+= -fPIC $(G_PTHREAD)
else
ifeq (solaris,$(findstring solaris,$(PLATFORM)))
LDFLAGS		+= -G
endif #sparc
endif #USES_NATIVE
TFLAGS		+= -fPIC

VPATH	     += ../../symtabAPI/h

SRCS	     +=	../src/Object.C \
		../src/LineInformation.C \
		../src/Symtab.C \
		../src/Collections.C \
		../src/Type.C \
      ../src/AddrLookup.C

#IGEN_GEN_SRCS = 

#IGEN_ISRCS    = 

ifndef USES_NATIVE_CC
ifdef CROSSCOMPILER
SYSLIBS		+= -liberty -lg++ -lstdc++ -lm
else
SYSLIBS         += -liberty
endif
else
SYSLIBS		+= -ldemangle
endif

IFLAGS       += -I../$(PLATFORM) -I../src -I../h -I../../dynutil/h

ifdef LIBXML2_INC
IFLAGS       += -I$(LIBXML2_INC)
else
IFLAGS	     += -I/usr/include/libxml2
endif

# All that, and we finally get a target...
all: $(TARGET) $(EXTRA_LIBS)
