# 
# Common makefile template for the dyninstAPI library.  This file is not
# intended to be a useful Makefile in isolation; instead, it should be
# included from within an architecture-specific Makefile.
#
# $Id: make.module.tmpl,v 1.40 2008/06/19 22:13:41 jaw Exp $
#

SUITE_NAME	= common 
RELEASE_MAJOR	= 7
RELEASE_MINOR = 0
#BUILD_MARK should be (re-)defined in core/make.config.local rather than here!

DEFINES		     +=  

USES_DWARF_DEBUG = true
USES_LIBELF = true

CFLAGS		     += $(USEFULWARNINGS) $(DEFINES)
CXXFLAGS	     += $(USEFULWARNINGS) $(DEFINES)
TFLAGS		     += $(TCLFRIENDLYWARNINGS) $(DEFINES)

ifdef GCC_2_95
# This may cause problems on Alpha
# GCC has a new mangled name squisher (-fsquangle) which can be 
# set to "on" by default. This causes linker problems, so we
# default to "off".
CFLAGS		+= -fno-squangle
CXXFLAGS	+= -fno-squangle
TFLAGS		+= -fno-squangle
endif

ifndef TARGET
ifndef STATIC_COMPS
TARGET		= libcommon.so
else
TARGET      = libcommon.a
endif
endif

MYFLAGS += -Dlibcommon

LDFLAGS     += $(LIBDIR)
ifndef USES_NATIVE_CC
LD		= $(GXX)
LDFLAGS		+= -shared $(G_PTHREAD_LD)
CFLAGS		+= 
CXXFLAGS	+=  $(G_PTHREAD)
else
ifeq (solaris,$(findstring solaris,$(PLATFORM)))
LDFLAGS		+= -G
endif #sparc
endif #USES_NATIVE
TFLAGS		+= 

VPATH	     += ../.. common/src dynutil/h

SRCS	     +=	../../common/src/Ident.C \
		../../common/src/string-regex.C \
		../../common/src/Timer.C \
		../../common/src/Types.C \
		../../common/src/debugOstream.C \
		../../common/src/lprintf.C \
		../../common/src/pathName.C \
		../../common/src/Time.C \
		../../common/src/fraction.C \
		../../common/src/timing.C \
		../../common/src/stats.C \
		../../common/src/Annotatable.C \
		../../common/src/MappedFile.C \
		../../common/src/sha1.C \
		../../common/src/serialize-bin.C \
		../../common/src/serialize-xml.C \
		../../common/src/util.C \
		../../common/src/Node.C \
		../../common/src/Graph.C \
		../../common/src/Edge.C \
		../../common/src/DOT.C \
		../../common/src/dyn_regs.C \
		../../common/src/AST.C \
		../../common/src/addrtranslate.C \
		../../common/src/arch-x86.C \
		../../common/src/arch-power.C \
                ../../common/src/debug_common.C \
                ../../common/src/VariableLocation.C \
                ../../common/src/dwarfResult.C \
                ../../common/src/dwarfExprParser.C \
                ../../common/src/dwarfFrameParser.C


#IGEN_GEN_SRCS = 

#IGEN_ISRCS    = 

LIBS += $(DEMANGLER_LINK)

IFLAGS       += -I../$(PLATFORM) -I../src -I../h -I../../instructionAPI/h

ifdef LIBXML2_INC
IFLAGS       += -I$(LIBXML2_INC)
else
IFLAGS	     += -I/usr/include/libxml2
endif

