#
# Common makefile template for util library.  This file is not
# intended to be a useful Makefile in isolation; instead, it should be
# included from within an architecture-specific Makefile.
#
# $Id: nmake.module.tmpl,v 1.5 1998/04/06 04:16:27 wylie Exp $
#

TARGET	      = libpdutil.lib

SRCS	     = $(SRCS) ../src/String.C \
		../src/ByteArray.C \
		../src/Dictionary.C \
		../src/lprintf.C \
		../src/rpcUtil-nt.C \
		../src/aggregateSample.C \
		../src/stringPool.C \
		../src/hist.C \
		../src/timing.C \
		../src/Timer.C \
		../src/Ident.C \
		../src/makenan.C \
		../src/pathName.C \
		../src/Object.C \
		../src/PriorityQueue.C \
		../src/odometer.C \
		../src/CircularBuffer.C \
		../src/vectorSet.C \
		../src/debugOstream.C

OBJS         = $(OBJS) String.obj ByteArray.obj Dictionary.obj \
		lprintf.obj rpcUtil.obj aggregateSample.obj \
 		stringPool.obj hist.obj timing.obj  Timer.obj \
		Ident.obj makenan.obj pathName.obj \
		PriorityQueue.obj odometer.obj CircularBuffer.obj \
		vectorSet.obj debugOstream.obj Object.obj

all: $(TARGET)

{..\src\}.C.obj:
	$(CXX) $(CXXFLAGS) -c $<



