#
# Common makefile template for util library.  This file is not
# intended to be a useful Makefile in isolation; instead, it should be
# included from within an architecture-specific Makefile.
#
# $Id: nmake.module.tmpl,v 1.8 1999/06/08 21:06:17 csserra Exp $
#

TARGET	      = libpdutil.lib

SRCS	     = $(SRCS) \
		../src/aggregateSample.C \
		../src/ByteArray.C \
		../src/CircularBuffer.C \
		../src/debugOstream.C \
		../src/Dictionary.C \
		../src/hist.C \
		../src/Ident.C \
		../src/lprintf.C \
		../src/makenan.C \
		../src/Object.C \
		../src/odometer.C \
		../src/pathName.C \
		../src/PriorityQueue.C \
		../src/rpcUtil.C \
		../src/String.C \
		../src/stringPool.C \
		../src/Timer.C \
		../src/timing.C \
		../src/timing-nt.C \
		../src/vectorSet.C

OBJS         = $(OBJS) \
		aggregateSample.obj \
		ByteArray.obj \
		CircularBuffer.obj \
		debugOstream.obj \
		Dictionary.obj \
		hist.obj \
		Ident.obj \
		lprintf.obj \
		makenan.obj \
		Object.obj \
		odometer.obj \
		pathName.obj \
		PriorityQueue.obj \
		rpcUtil.obj \
		String.obj \
		stringPool.obj \
		Timer.obj \
		timing.obj \
		timing-nt.obj \
		vectorSet.obj

all: $(TARGET)

{..\src\}.C.obj:
	$(CXX) $(CXXFLAGS) -c $<

