depGraphAPI.aux
depGraphAPI.dvi
depGraphAPI.log
depGraphAPI.pdf
depGraphAPI.ps
depGraphAPI.synctex.gz
depGraphAPI.toc
example1.aux
example2.aux
fragments.C
Inheritance.graffle
Operations_example.graffle
._*

