# 
# Common makefile template for dyninst Tests.  This file is not intended to
# be a useful Makefile in isolation; instead, it should be included
# from within an architecture-specific Makefile.
#
# $Id: nmake.module.tmpl,v 1.5 2006/04/01 03:37:17 bpellin Exp $
#

SUITE_NAME	= Dyninst
RELEASE_NUM	= 4.2
#BUILD_MARK should be (re-)defined in core/make.config.local rather than here!

DEST		= $(TO_CORE)\$(PROGRAM_DEST)\testprogs

CXXFLAGS     = $(CXXFLAGS) -I$(TO_CORE)/dyninstAPI/h /D_DEBUG /Zi
CXXFLAGS_NORM = $(CXXFLAGS)
CXXFLAGS     = $(CXXFLAGS) -DTESTLIB_DLL_BUILD
CFLAGS       = $(CFLAGS) -I$(TO_CORE)/h

LIBS		= $(TO_CORE)\$(LIBRARY_DEST)\libdyninstAPI.lib

SYSLIBS		= 

LIBTESTSUITE = libtestSuite.dll
SRCS_LIBTESTSUITE = ../src/test_lib.C \
                    ../src/test_lib_dllExecution.C \
                    ../src/test_lib_mutateeStart.C \
                    ../src/Process_data.C \
                    ../src/ParameterDict.C \
                    ../src/TestData.C \
                    ../src/Callbacks.C 

OBJS_LIBTESTSUITE = $(SRCS_LIBTESTSUITE:.C=.obj)
OBJS_LIBTESTSUITE = $(OBJS_LIBTESTSUITE:../src/=)

all: $(LIBTESTSUITE) test_driver.exe runTests.exe $(TEST_LIBS) $(MUTATEES) libtestA.dll libtestB.dll


UNCOMMON_INSTALL=true

install: all
	-$(MKDIR) $(DEST)
# $(CP) $(TARGETS) $(DEST)
LDFLAGS = /debug -LIBPATH:$(TO_CORE)/../$(PLATFORM)/lib 
LIBS    = libdyninstAPI.lib

test_callee.dll: test_callee.obj
	$(LINK) $(LDFLAGS) -DLL -out:$@ test_callee.obj libtestSuite.lib

test_caller.exe: test_caller.obj
	$(LINK) $(LDFLAGS) test_caller.obj libtestSuite.lib test_callee.lib

test_caller.obj: ../src/test_caller.C
	$(CXX) $(CXXFLAGS_NORM) -c $**

$(LIBTESTSUITE): $(OBJS_LIBTESTSUITE)
	$(LINK) $(LDFLAGS)  -DLL -out:$@ $(OBJS_LIBTESTSUITE) $(LIBS)

$(OBJS_LIBTESTSUITE): $(SRCS_LIBTESTSUITE)

test_driver.exe:  test_driver.obj test_lib.obj
	$(LINK) $(LDFLAGS) test_driver.obj libdyninstAPI.lib libtestSuite.lib

test_driver.obj: ../src/test_driver.C 
	$(CXX) $(CXXFLAGS_NORM) -Dnative_cc=_VC.exe -Dnative_cxx=_VC++.exe -c $**

runTests.exe:  ../src/runTests.C ../src/runTests-utils-nt.C
	$(CXX) $(CXXFLAGS_NORM) ../src/runTests.C ../src/runTests-utils-nt.C
