# 
# Common makefile template for the dyninstAPI library.  This file is not
# intended to be a useful Makefile in isolation; instead, it should be
# included from within an architecture-specific Makefile.
#
# $Id: make.module.tmpl,v 1.4 2008/09/15 17:38:17 jaw Exp $
#

SUITE_NAME	= Dyninst
RELEASE_NUM	= 6.1
#BUILD_MARK should be (re-)defined in core/make.config.local rather than here!

CFLAGS		     += $(USEFULWARNINGS) -I$(TO_CORE)/../include
CXXFLAGS	     += $(USEFULWARNINGS) -I$(TO_CORE)/../include

LDFLAGS += -lcommon -lsymtabAPI

LDFLAGS     += $(LIBDIR)
ifndef USES_NATIVE_CC
LD		= $(GXX)
LDFLAGS		+= -shared $(G_PTHREAD_LD)
CFLAGS		+= -fPIC
CXXFLAGS	+= -fPIC $(G_PTHREAD)
else
ifeq (solaris,$(findstring solaris,$(PLATFORM)))
LDFLAGS		+= -G
endif #sparc
endif #USES_NATIVE

ifneq ($(findstring cap_instruction_api,$(CAP_DEF)),)
    LDFLAGS += -linstructionAPI
endif

TO_INC   = ../h

PUBLIC_H = \
    CFGFactory.h\
    CFG.h\
    CodeObject.h\
    CodeSource.h\
    InstructionAdapter.h\
    InstructionSource.h\
    ParseCallback.h\
    ParseContainers.h

SRCS +=	../src/ParserDetails.C \
        ../src/Parser.C \
        ../src/CFGFactory.C \
        ../src/Function.C \
        ../src/Block.C \
		../src/CodeObject.C \
		../src/debug_parse.C \
        ../src/SymtabCodeSource.C \
        ../src/ParseData.C\
        ../src/InstructionAdapter.C\
        ../src/Parser-speculative.C
        
ifneq ($(findstring cap_instruction_api,$(CAP_DEF)),)
SRCS +=	../../dataflowAPI/src/Absloc.C \
     	../../dataflowAPI/src/AbslocInterface.C \
	../../dataflowAPI/src/convertOpcodes.C \
	../../dataflowAPI/src/debug_dataflow.C \
	../../dataflowAPI/src/ExpressionConversionVisitor.C \
	../../dataflowAPI/src/RoseImpl.C \
	../../dataflowAPI/src/RoseInsnFactory.C \
	../../dataflowAPI/src/slicing.C \
	../../dataflowAPI/src/stackanalysis.C \
	../../dataflowAPI/src/SymbolicExpansion.C \
	../../dataflowAPI/src/SymEval.C \
	../../dataflowAPI/src/SymEvalPolicy.C \
	../../dataflowAPI/src/templates.C \
	../../dataflowAPI/src/Visitors.C
VPATH += ../../dataflowAPI/src
VPATH += ../../dataflowAPI/h

PUBLIC_H += Absloc.h \
	 AbslocInterface.h \
	 slicing.h \
	 SymEval.h \
	 stackanalysis.h
endif

ifndef USES_NATIVE_CC
ifdef CROSSCOMPILER
SYSLIBS		+= -liberty -lg++ -lstdc++ -lm
else
SYSLIBS         += -liberty
endif
else
SYSLIBS		+= -ldemangle
endif


IFLAGS       += -I../$(PLATFORM) -I../src -I../../dataflowAPI/src -I../../dataflowAPI/h -I../h -I../../dynutil/h -I../../symtabAPI/h -I../../common/h -I../../instructionAPI/h


# All that, and we finally get a target...
all: $(TARGET) $(EXTRA_LIBS)

