#  
# Common makefile template for the dyninstAPI library.  This file is not
# intended to be a useful Makefile in isolation; instead, it should be
# included from within an architecture-specific Makefile.
#
# $Id: make.module.tmpl,v 1.4 2008/09/15 17:38:17 jaw Exp $
#

SUITE_NAME	= PatchAPI
RELEASE_MAJOR	= 8
RELEASE_MINOR = 0
#BUILD_MARK should be (re-)defined in core/make.config.local rather than here!

CFLAGS		     += $(USEFULWARNINGS) -I$(TO_CORE)/../include
CXXFLAGS	     += $(USEFULWARNINGS) -I$(TO_CORE)/../include

LDFLAGS += -L../../common/$(PLATFORM) -L../../symtabAPI/$(PLATFORM) -L../../parseAPI/$(PLATFORM) -L../../instructionAPI/$(PLATFORM) -lcommon -lsymtabAPI -linstructionAPI -lparseAPI

LDFLAGS     += $(LIBDIR)
ifndef USES_NATIVE_CC
LD		= $(GXX)
LDFLAGS		+= -shared $(G_PTHREAD_LD)
CXXFLAGS	+= $(G_PTHREAD)
else
endif #USES_NATIVE

TO_INC   = ../h

PUBLIC_H = AddrSpace.h \
           CFGMaker.h \
           Command.h \
           Instrumenter.h \
           PatchCallback.h \
           PatchCFG.h \
           PatchCommon.h \
           PatchMgr.h \
           PatchModifier.h \
           PatchObject.h \
           Point.h \
           Snippet.h 

SRCS +=	../src/AddrSpace.C \
        ../src/Instrumenter.C \
        ../src/PatchObject.C \
        ../src/PatchBlock.C \
        ../src/PatchEdge.C \
        ../src/PatchFunction.C \
        ../src/PatchMgr.C \
        ../src/Point.C \
        ../src/CFGMaker.C \
        ../src/PointMaker.C \
        ../src/Command.C \
        ../src/PatchCallback.C \
        ../src/ParseCallback.C \
        ../src/PatchModifier.C 

IFLAGS       += -I../$(PLATFORM) -I../src -I../../parseAPI/h -I../h -I../../dynutil/h -I../../symtabAPI/h -I../../common/h -I../../instructionAPI/h -I../h


