# 
# Common makefile template for the dyninstAPI library.  This file is not
# intended to be a useful Makefile in isolation; instead, it should be
# included from within an architecture-specific Makefile.
#
# $Id: make.module.tmpl,v 1.4 2008/09/15 17:38:17 jaw Exp $
#

SUITE_NAME	= Dyninst
RELEASE_NUM	= 5.2
#BUILD_MARK should be (re-)defined in core/make.config.local rather than here!

CFLAGS		     += $(USEFULWARNINGS) -I$(TO_CORE)/../include
CXXFLAGS	     += $(USEFULWARNINGS) -I$(TO_CORE)/../include

LDFLAGS += -lcommon

LDFLAGS     += $(LIBDIR)
ifndef USES_NATIVE_CC
LD		= $(GXX)
LDFLAGS		+= -shared $(G_PTHREAD_LD)
CXXFLAGS	+= $(G_PTHREAD)
else
ifeq (solaris,$(findstring solaris,$(PLATFORM)))
LDFLAGS		+= -G
endif #sparc
endif #USES_NATIVE


TO_INC   = ../h

#PUBLIC_H = 

SRCS +=	../src/DepGraphNode.C \
        ../src/DepGraphDOT.C \
        ../src/DDG.C \
        ../src/CDG.C \
        ../src/FDG.C \
        ../src/PDG.C \
        ../src/xPDG.C \
        ../src/Absloc.C \
        ../src/analyzeDDG.C \
        ../src/analyzeDDGCallees.C \
        ../src/analyzeCDG.C \
        ../src/analyzeFDG.C \
        ../src/analyzePDG.C \
        ../src/analyzeXPDG.C


IFLAGS       += -I../$(PLATFORM) -I../src -I../h -I../../dynutil/h -I../../symtabAPI/h -I../external -I../../dyninstAPI/h

DOCDIR	= ../doc


# All that, and we finally get a target...

PUBLIC_H =      Absloc.h \
                DepGraphNode.h \
                DDG.h \
                CDG.h \
                FDG.h \
                PDG.h \
                xPDG.h


