#
# Common makefile template for util library.  This file is not
# intended to be a useful Makefile in isolation; instead, it should be
# included from within an architecture-specific Makefile.
#
# $Id: make.module.tmpl,v 1.46 2007/01/17 22:47:44 giri Exp $
#

USES_FLEX       = true

STATIC_LIBRARY = true

ifndef TARGET
TARGET	      = libpdutil.a
endif

YFLAGS          += -p mdl
LFLAGS          += -Pmdl


CFLAGS		     += -DNEW_TIME_TYPES
CXXFLAGS	     += -DNEW_TIME_TYPES
TFLAGS		     += -DNEW_TIME_TYPES

CFLAGS		     += -I../../dyninstAPI/h
CXXFLAGS	     += -I../../dyninstAPI/h
TFLAGS		     += -I../../dyninstAPI/h

ifdef USES_LIBDYNINST_SO
CXXFLAGS      += -fPIC
KFLAGS        += -fPIC
endif

VPATH	      += ../../paradyn/h:../src

SRCS	     +=	../src/ByteArray.C \
		../src/rpcUtil.C \
		../src/xdr_send_recv.C \
		../src/sampleAggregator.C \
		../src/stringPool.C \
		../src/hist.C \
		../src/PriorityQueue.C \
		../src/odometer.C \
		../src/CircularBuffer.C \
		../src/pdDebugOstream.C \
		../src/pdSample.C \
		../src/pdRate.C \
		../../pdutil/src/airtStreambuf.C \
        ../src/mdlClass.C \
        ../src/mdl_data.C \
        ../src/mdl.C \
        mdlParser.C \
        mdlScanner.C \
        ../src/pdsocket-unix.C \
        ../src/pddesc-unix.C \
		../src/templates.C
 
IGEN_ISRCS      = dyninstRPC.I
IGEN_GEN_SRCS   = dyninstRPC.mrnet.h

IFLAGS += -I../../mrnet/mrnet/h/

PREREQUISITES = $(IGEN_GEN_SRCS)
PREREQUISITES += mdlParser.C mdlScanner.C

PREREQUISITES = $(IGEN_GEN_SRCS)
PREREQUISITES += mdlParser.C mdlScanner.C

all: $(TARGET)

# We need to force this dependency because we need the headers
# but not the .C files from the dyninstRPC igen-generated files.
mdlScanner.C:   mdlParser.C dyninstRPC.mrnet.h

templates.o:    ../src/templates.C
	$(CXX) $(TFLAGS) -c $<

y.tab.h: mdlScanner.C
