#
# Common makefile template for util library.  This file is not
# intended to be a useful Makefile in isolation; instead, it should be
# included from within an architecture-specific Makefile.
#
TARGET	      = libpdutil.a

SRCS	     += ../src/String.C \
		../src/ByteArray.C \
		../src/Dictionary.C \
		../src/lprintf.C \
		../src/rpcUtil.C \
		../src/aggregateSample.C \
		../src/stringPool.C \
		../src/hist.C \
		../src/timing.C \
		../src/Timer.C \
		../src/makenan.C \
		../src/pathName.C \
		../src/Object.C \
		../src/PriorityQueue.C \
		../src/odometer.C \
		../src/CircularBuffer.C \
		../src/vectorSet.C \
		../src/debugOstream.C

all: $(TARGET)
