#
# Common makefile template for util library.  This file is not
# intended to be a useful Makefile in isolation; instead, it should be
# included from within an architecture-specific Makefile.
#
# $Id: nmake.module.tmpl,v 1.18 2002/04/09 18:05:48 mjbrim Exp $
#

TARGET	      = libpdutil.lib

CFLAGS       = $(CFLAGS) -DNEW_TIME_TYPES
CXXFLAGS     = $(CXXFLAGS) -DNEW_TIME_TYPES
TFLAGS       = $(TFLAGS) -DNEW_TIME_TYPES

SRCS	     = $(SRCS) \
                ../../common/src/String.C \
                ../../common/src/Dictionary.C \
                ../../common/src/lprintf.C \
                ../../common/src/Timer.C \
                ../../common/src/Ident.C \
                ../../common/src/pathName.C \
                ../../common/src/vectorSet.C \
                ../../common/src/debugOstream.C \
                ../../pdutil/src/templates.C \
                ../../pdutil/src/ByteArray.C \
                ../../pdutil/src/rpcUtil.C \
                ../../pdutil/src/sampleAggregator.C \
                ../../pdutil/src/stringPool.C \
                ../../pdutil/src/hist.C \
                ../../pdutil/src/Types.C \
                ../../pdutil/src/PriorityQueue.C \
                ../../pdutil/src/odometer.C \
                ../../pdutil/src/CircularBuffer.C \
                ../../common/src/timing.C \
                ../../common/src/timing-nt.C \
		../../pdutil/src/pdDebugOstream.C \
		../../pdutil/src/pdSample.C \
		../../pdutil/src/pdRate.C \
		../../pdutil/src/airtStreambuf.C \
		../../common/src/Time.C \
		../../common/src/fraction.C \
		../../pdutil/src/xdr_send_recv.C \
		../../pdutil/src/templates.C

OBJS         = $(OBJS) \
		ByteArray.obj \
		CircularBuffer.obj \
		debugOstream.obj \
		Dictionary.obj \
		hist.obj \
		Ident.obj \
		int64iostream.obj \
		lprintf.obj \
		odometer.obj \
		pathName.obj \
		PriorityQueue.obj \
		rpcUtil.obj \
		sampleAggregator.obj \
		String.obj \
		stringPool.obj \
		Timer.obj \
		Types.obj \
		timing.obj \
		timing-nt.obj \
		vectorSet.obj \
                pdDebugOstream.obj \
                pdSample.obj  \
		pdRate.obj \
		airtStreambuf.obj \
                Time.obj \
                fraction.obj \
                xdr_send_recv.obj \
                templates.obj 

all: $(TARGET)

{..\src\}.C.obj:
	$(CXX) $(CXXFLAGS) -c $<

{..\..\common\src\}.C.obj:
	$(CXX) $(CXXFLAGS) -c $<

