#
# Common makefile template for util library.  This file is not
# intended to be a useful Makefile in isolation; instead, it should be
# included from within an architecture-specific Makefile.
#
# $Id: nmake.module.tmpl,v 1.13 2000/07/28 20:30:16 hollings Exp $
#

TARGET	      = libpdutil.lib

SRCS	     = $(SRCS) \
                ../../common/src/String.C \
                ../../common/src/Dictionary.C \
                ../../common/src/lprintf.C \
                ../../common/src/Timer.C \
                ../../common/src/Ident.C \
                ../../common/src/pathName.C \
                ../../common/src/vectorSet.C \
                ../../common/src/debugOstream.C \
                ../../common/src/templates.C \
                ../../pdutil/src/ByteArray.C \
                ../../pdutil/src/rpcUtil.C \
                ../../pdutil/src/aggregateSample.C \
                ../../pdutil/src/stringPool.C \
                ../../pdutil/src/hist.C \
                ../../pdutil/src/timing.C \
                ../../pdutil/src/Types.C \
                ../../pdutil/src/makenan.C \
                ../../pdutil/src/PriorityQueue.C \
                ../../pdutil/src/odometer.C \
                ../../pdutil/src/CircularBuffer.C \
                ../../pdutil/src/timing-nt.C

OBJS         = $(OBJS) \
		aggregateSample.obj \
		ByteArray.obj \
		CircularBuffer.obj \
		debugOstream.obj \
		Dictionary.obj \
		hist.obj \
		Ident.obj \
		int64iostream.obj \
		lprintf.obj \
		makenan.obj \
		odometer.obj \
		pathName.obj \
		PriorityQueue.obj \
		rpcUtil.obj \
		String.obj \
		stringPool.obj \
		Timer.obj \
		Types.obj \
		timing.obj \
		timing-nt.obj \
		vectorSet.obj

all: $(TARGET)

{..\src\}.C.obj:
	$(CXX) $(CXXFLAGS) -c $<

{..\..\common\src\}.C.obj:
	$(CXX) $(CXXFLAGS) -c $<

