#
# Common makefile template for util library.  This file is not
# intended to be a useful Makefile in isolation; instead, it should be
# included from within an architecture-specific Makefile.
#
# $Id: nmake.module.tmpl,v 1.21 2003/06/19 18:46:12 pcroth Exp $
#

TARGET	      = libpdutil.lib

CFLAGS       = $(CFLAGS) -DNEW_TIME_TYPES
CXXFLAGS     = $(CXXFLAGS) -DNEW_TIME_TYPES
TFLAGS       = $(TFLAGS) -DNEW_TIME_TYPES

YFLAGS       = $(YFLAGS) -p mdl
LFLAGS       = $(LFLAGS) -Pmdl

SRCS	     = $(SRCS) \
                ../../common/src/String.C \
                ../../common/src/Dictionary.C \
                ../../common/src/lprintf.C \
                ../../common/src/Timer.C \
                ../../common/src/Ident.C \
                ../../common/src/pathName.C \
                ../../common/src/vectorSet.C \
                ../../common/src/debugOstream.C \
                ../../pdutil/src/templates.C \
                ../../pdutil/src/ByteArray.C \
                ../../pdutil/src/rpcUtil.C \
                ../../pdutil/src/sampleAggregator.C \
                ../../pdutil/src/stringPool.C \
                ../../pdutil/src/hist.C \
                ../../pdutil/src/Types.C \
                ../../pdutil/src/PriorityQueue.C \
                ../../pdutil/src/odometer.C \
                ../../pdutil/src/CircularBuffer.C \
                ../../common/src/timing.C \
                ../../common/src/timing-nt.C \
                ../../pdutil/src/pdDebugOstream.C \
                ../../pdutil/src/pdSample.C \
                ../../pdutil/src/pdRate.C \
                ../../pdutil/src/airtStreambuf.C \
                ../../common/src/Time.C \
                ../../common/src/fraction.C \
                ../../pdutil/src/xdr_send_recv.C \
                ../src/mdlClass.C \
                ../src/mdl_data.C \
                mdlParser.C \
                mdlScanner.C \
                ../../pdutil/src/templates.C

OBJS         = $(OBJS) \
		ByteArray.obj \
		CircularBuffer.obj \
		debugOstream.obj \
		Dictionary.obj \
		hist.obj \
		Ident.obj \
		int64iostream.obj \
		lprintf.obj \
		odometer.obj \
		pathName.obj \
		PriorityQueue.obj \
		rpcUtil.obj \
		sampleAggregator.obj \
		String.obj \
		stringPool.obj \
		Timer.obj \
		Types.obj \
		timing.obj \
		timing-nt.obj \
		vectorSet.obj \
                pdDebugOstream.obj \
                pdSample.obj  \
		pdRate.obj \
		airtStreambuf.obj \
                Time.obj \
                fraction.obj \
                xdr_send_recv.obj \
                mdlClass.obj \
                mdl_data.obj \
                mdl.obj \
                mdlParser.obj \
                mdlScanner.obj \
                templates.obj 

IGEN_ISRCS  = dyninstRPC.I
IGEN_GEN_SRCS   = dyninstRPC.xdr.h
IGEN_GEN_OBJS   = $(IGEN_GEN_SRCS:.C=.obj)

all: $(TARGET)

{..\src\}.C.obj:
	$(CXX) $(CXXFLAGS) -c $<

{..\..\common\src\}.C.obj:
	$(CXX) $(CXXFLAGS) -c $<


#
# note that we make an explicit rule for bison and flex
# bison includes the path of the input file in a comment,
# and VC++ doesn't like it as an escape sequence (even in a comment)
#
mdlParser.C:    ../src/mdlParser.y
    $(YACC) $(YFLAGS) ../src/mdlParser.y
    $(PERL) $(TO_CORE)\..\scripts\vcStripStd.pl < y.tab.c > $@
    -$(RM) y.tab.c

mdlScanner.C:   ../src/mdlScanner.l
    $(LEX) $(LFLAGS) ../src/mdlScanner.l
    $(PERL) $(TO_CORE)\..\scripts\vcStripUnistd.pl < lex.mdl.c > $@
    -$(RM) lex.mdl.c


dyninstRPC.xdr.C \
        dyninstRPC.xdr.h \
        dyninstRPC.xdr.CLNT.C \
        dyninstRPC.xdr.CLNT.h \
        dyninstRPC.xdr.SRVR.C \
        dyninstRPC.xdr.SRVR.h:  ..\..\paradyn\h\dyninstRPC.I
    igen -xdr ..\..\paradyn\h\dyninstRPC.I

# we need to force this dependency because we need the headers
# but not the C files from teh dyninstRPC igen-generated files
mdlScanner.C:   dyninstRPC.xdr.h

