# 
# Common makefile template for the dyninstAPI library.  This file is not
# intended to be a useful Makefile in isolation; instead, it should be
# included from within an architecture-specific Makefile.
#
# $Id: make.module.tmpl,v 1.40 2008/06/19 22:13:41 jaw Exp $
#

SUITE_NAME	= dynElf 
RELEASE_MAJOR	= 7
RELEASE_MINOR = 0
#BUILD_MARK should be (re-)defined in core/make.config.local rather than here!

DEFINES		     +=  

USES_DWARF_DEBUG = true
USES_LIBELF = true

CFLAGS		     += $(USEFULWARNINGS) $(DEFINES)
CXXFLAGS	     += $(USEFULWARNINGS) $(DEFINES)
TFLAGS		     += $(TCLFRIENDLYWARNINGS) $(DEFINES)

ifdef GCC_2_95
# This may cause problems on Alpha
# GCC has a new mangled name squisher (-fsquangle) which can be 
# set to "on" by default. This causes linker problems, so we
# default to "off".
CFLAGS		+= -fno-squangle
CXXFLAGS	+= -fno-squangle
TFLAGS		+= -fno-squangle
endif

ifndef TARGET
ifndef STATIC_COMPS
TARGET		= libdynElf.so
else
TARGET      = libdynElf.a
endif
endif

MYFLAGS += -DlibdynDwarf

LDFLAGS     += $(LIBDIR)
LD		= $(GXX)
LDFLAGS		+= -shared $(G_PTHREAD_LD)
CFLAGS		+= 
CXXFLAGS	+=  $(G_PTHREAD)
TFLAGS		+= 


SRCS	     +=	../src/Elf_X.C

TO_INC          = ../h

IFLAGS       += -I../$(PLATFORM) -I../src -I../h 
