#
# Common makefile template for tableVisi.  This file is not intended to
# be a useful Makefile in isolation; instead, it should be included
# from within an architecture-specific Makefile.
#
# $Id: make.module.tmpl,v 1.11 2000/08/21 00:31:43 paradyn Exp $
#

TARGET	      = tableVisi

SRCS	     += ../src/tableVisi.C \
		../src/tvMetric.C \
		../src/tvFocus.C \
		../src/tvCell.C \
		../../../paradyn/src/UIthread/minmax.C \
		../../../paradyn/src/UIthread/tkTools.C \
		../../../paradyn/src/UIthread/pdLogo.C \
		../src/dg2.C \
		../src/tableVisiTcl.C \
		../src/main.C \
		../src/templates.C

VPATH		+= ../src:../../../paradyn/src/UIthread

CXXFLAGS	+= $(TCLFRIENDLYWARNINGS) $(XFLAGS)
CFLAGS		+= $(TCLFRIENDLYWARNINGS) $(XFLAGS)
TFLAGS		+= $(TCLFRIENDLYWARNINGS) $(XFLAGS)

IFLAGS 		+= -I../../../paradyn/src/UIthread

# if $(TO_CORE)/visi doesn't exist, then the -I$(TO_CORE) automatically
# inserted by make.config won't be enough for the compiler to find,
# say, visi/h/visualization.h.  We don't want to force the user to have
# "visi" checked out in order to compile tableVisi.
IFLAGS	+= $(shell if [ -d $(TO_CORE)/visi ]; then echo ""; else echo -I$(BACKUP_CORE); fi )

TCL_SRCS	= ../tcl/tableVisi.tcl
SRCS		+= $(TCL2C_GEN_SRCS)

LIBS         += -lvisi -lpdutil 
SYSLIBS	     += $(TCLTK_LIBS) $(X11_LIB) -lm

ifdef CROSSCOMPILER
SYSLIBS		+= -lstdc++
endif

all:	$(TARGET)

$(TCL2C_GEN_SRCS): $(TCL_SRCS)
	$(PERL) $(TCL2C) $^ > $@
