#
# $Log: make.module.tmpl,v $
# Revision 1.3  1995/12/16 00:25:59  tamches
# removed VPATH to ../../barChart
#
# Revision 1.2  1995/11/29 00:42:28  tamches
# added pdLogo.C
#
# Revision 1.1  1995/11/04 00:41:38  tamches
# First version of new table visi
#
#

TARGET	      = tableVisi

SRCS	     += ../src/tableVisi.C \
		../src/tvMetric.C \
		../src/tvFocus.C \
		../src/tvCell.C \
		../../../paradyn/src/UIthread/minmax.C \
		../../../paradyn/src/UIthread/tkTools.C \
		../../../paradyn/src/UIthread/pdLogo.C \
		../src/dg2.C \
		../src/tableVisiTcl.C \
		../src/main.C \
		../src/templates.C

VPATH		+= ../src:../../../paradyn/src/UIthread

IFLAGS 		+= -I../../../util/h \
		   -I../../../paradyn/src/UIthread

TCL2C		= tcl2c
TCL2C_GEN_SRCS	= tcl2c.C
TCL_SRCS	= $(wildcard ../tcl/*.tcl)
#TCL_SRCS	= 
SRCS		+= $(TCL2C_GEN_SRCS)

LIBS         += -lvisi -lpdutil 
SYSLIBS	     += -ltk -ltcl -lX11 -lm

all:	$(TARGET)

$(TCL2C_GEN_SRCS): $(TCL_SRCS)
	$(TCL2C) $^ > $@
