#
# Common makefile template for tableVisi.  This file is not intended to
# be a useful Makefile in isolation; instead, it should be included
# from within an architecture-specific Makefile.
#
# $Id: nmake.module.tmpl,v 1.6 2003/04/09 18:09:45 pcroth Exp $
#

CXXFLAGS	= $(CXXFLAGS) $(TCLFRIENDLYWARNINGS) 
CFLAGS		= $(CFLAGS) $(TCLFRIENDLYWARNINGS) 
TFLAGS		= $(TFLAGS) $(TCLFRIENDLYWARNINGS)
IFLAGS 		= $(IFLAGS) -I..\..\..\paradyn\src\UIthread


TARGET	= tableVisi.exe

PD_SRCS	= ..\..\..\paradyn\src\UIthread\minmax.C \
		..\..\..\paradyn\src\UIthread\tkTools.C \
		..\..\..\paradyn\src\UIthread\pdLogo.C

AUX_SRCS = ..\..\..\visiClients\auxiliary\src\Export.C

MY_SRCS	= ..\src\tableVisi.C \
		..\src\tvMetric.C \
		..\src\tvFocus.C \
		..\src\tvCell.C \
		..\src\dg2.C \
		..\src\tableVisiTcl.C \
		..\src\main.C \
		..\src\main-nt.C \
		..\src\templates.C
TCL_SRCS	= ../tcl/tableVisi.tcl ../../auxiliary/tcl/Export.tcl

SRCS	= $(SRCS) $(MY_SRCS) $(PD_SRCS) $(AUX_SRCS) $(TCL2C_GEN_SRCS)

MY_TMPO	= $(MY_SRCS:..\src\=)
PD_TMPO	= $(PD_SRCS:..\..\..\paradyn\src\UIthread\=)
AUX_TMPO = $(AUX_SRCS:..\..\..\visiClients\auxiliary\src\=)

OBJS	= $(OBJS) \
			$(MY_TMPO:.C=.obj) \
			$(PD_TMPO:.C=.obj) \
			$(AUX_TMPO:.C=.obj) \
			$(TCL2C_GEN_SRCS:.C=.obj)

LIBS		= libvisi.lib libpdutil.lib
SYSLIBS		= $(SYSLIBS) $(TCLTK_LIBS) $(X11_LIB) $(RPC_LIB)

all:	$(TARGET)

$(TCL2C_GEN_SRCS): $(TCL_SRCS)
	$(PERL) $(TCL2C) $** > $@

{$(TO_CORE)\paradyn\src\UIthread}.C{}.obj:
	$(CXX) $(CXXFLAGS) -c $<

{$(TO_CORE)\visiClients\auxiliary\src}.C{}.obj:
	$(CXX) $(CXXFLAGS) -c $<

