# 
# Common makefile template for dyninst Tests.  This file is not intended to
# be a useful Makefile in isolation; instead, it should be included
# from within an architecture-specific Makefile.
#
# $Id: make.module.tmpl,v 1.26 2008/02/20 08:31:02 jaw Exp $
#

SUITE_NAME	= DynC
RELEASE_NUM	= 5.00
#BUILD_MARK should be (re-)defined in core/make.config.local rather than here!

SRCS	     += ../$(TARGET).C

IFLAGS	     += -I$(TO_CORE)/dyninstAPI/h
IFLAGS	     += -I$(TO_CORE)/dyninstAPI/src 
IFLAGS      += -I$(TO_CORE)/symtabAPI/h 
IFLAGS      += -I$(TO_CORE)/dynutil/h
IFLAGS      += -I$(TO_CORE)/commandAPI/h
IFLAGS      += -I$(TO_CORE)/commandAPI/src
IFLAGS	     += -I$(TO_CORE)/instructionAPI/h 

CXXFLAGS     += $(BASICWARNINGS)
CFLAGS       += $(BASICWARNINGS)

# GCC has a new mangled name squisher (-fsquangle) which can be 
# set to "on" by default. This causes linker problems, so we
# default to "off".

ifdef GCC_2_95
CFLAGS		+= -fno-squangle
CXXFLAGS	+= -fno-squangle
endif

LIBS         += -ldyninstAPI -lsymtabAPI -lcommon -L$(TO_CORE)/dynCAPI/$(PLATFORM) -ldynCAPI

SYSLIBS      += -liberty -L$(TCLTK_LIB_DIR) $(TCL_LIB) 

all: $(TARGET)
