name: CMake Formatting

on:
  #pull_request:
    #types: [opened, synchronize, reopened, ready_for_review]
    #branches: [ master ]
    #paths:
       #- '**.cmake'
       #- '**CMakeLists.txt'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  cmake-formatting:
    runs-on: ubuntu-latest
    if: ${{ github.event.pull_request.draft == false }}
    steps:
    - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

    - name: Install dependencies
      shell: bash
      run: |
        sudo apt-get update
        sudo apt-get install -y python3-pip
        python3 -m pip install cmake-format

    - name: cmake-format
      shell: bash
      run: |
        set +e
        cmake-format -i $(find . -type f | egrep 'CMakeLists.txt|\.cmake$')
        if [ $(git diff | wc -l) -gt 0 ]; then
          echo -e "\nError! CMake files not formatted."
          echo -e "\nRun the following to fix:"
          for f in $(git diff --name-only); do echo -e "  cmake-format -i $f"; done
          echo
          exit 1
        fi
