# Build the latest versions of applications that consume Dyninst

name: Build Consumers

on:
  pull_request:
     branches:
        - master
#  schedule:
#    - cron: '0 3 * * 1' # Monday at 3AM

jobs:
#  spack-build:
#    strategy:
#      fail-fast: false
#      matrix:
#        consumer: [
#          "hpctoolkit",
#           must+stackwalker  - python is broken
#           stat              - takes >6hrs
#           extrae+dyninst    - not yet tested, may not support dyninst >10.0.0
#           omnitrace         - Needs updated cmake
#           timemory          - Needs updated cmake
#        ]
#    runs-on: ubuntu-latest
#    steps:
#    - name: ${{ matrix.consumer }}
#      run: |
#        sudo apt update -qq
#        sudo apt install -y -qq --no-install-recommends build-essential gcc g++ gfortran m4 cmake autoconf python3 git unzip
#        git clone --depth=1 --branch=develop https://github.com/spack/spack
#        spack/bin/spack compiler find
#        spack/bin/spack external find --not-buildable cmake
#        spack/bin/spack install ${{ matrix.consumer }} ^dyninst@master

  systemtap:
    permissions:
      packages: read
    strategy:
      fail-fast: true
      matrix:
         os: ['ubuntu-20.04']
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/dyninst/amd64/${{ matrix.os }}-base:latest
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.github_token }}
    name: systemtap ${{ matrix.os }}
    steps:
      - name: build systemtap
        run: |
          apt update
          apt install -y git python3 libjson-c-dev
          git clone https://sourceware.org/git/systemtap.git
          ln -s /dyninst/install/include /usr/include/dyninst
          ln -s /dyninst/install/lib /usr/lib64/dyninst
          cd systemtap
          mkdir build; cd $_
          ../configure --with-dyninst
          make -j2
