name: Build and Deploy Development Containers

on:
  push: 
    branches:
      - master
  workflow_dispatch:
  workflow_call:

jobs:

  get-oses:
    runs-on: ubuntu-latest
    outputs:
      all: ${{ steps.all.outputs.all }}
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - id: all
        uses: ./.github/actions/os-versions

  dev-containers:
    runs-on: ubuntu-latest
    needs: get-oses
    strategy:
      fail-fast: false
      matrix:
        os: ${{ fromJson(needs.get-oses.outputs.all) }}
    permissions:
      packages: write
    name: Update dev containers
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - name: GHCR Login
        uses: docker/login-action@e92390c5fb421da1463c202d546fed0ec5c39f20 # v3.1.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build
        shell: bash
        run: |
          set -ex
          
          base="ghcr.io/dyninst/amd64/${{ matrix.os }}-base:latest"
          dev="ghcr.io/dyninst/amd64/${{ matrix.os }}:latest"

          # Grab the respective base container to update cache
          docker pull $base

          docker build -f docker/Dockerfile -t ${dev} --build-arg base=${base} --build-arg build_jobs=2 .

          docker push ${dev}
