name: Purge old workflow runs

on:
  schedule:
    - cron: '0 5 1 * *'  # 5AM on the first of the month
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:

  purge:
    runs-on: ubuntu-latest
    permissions:
      actions: write
      contents: read
    steps:
      - name: Delete workflow runs
        uses: Mattraks/delete-workflow-runs@5bf9a1dac5c4d041c029f0a8370ddf0c5cb5aeb7 # main
        with:
          token: ${{ secrets.github_token }}
          repository: ${{ github.repository }}
          # remove anything older than two weeks
          retain_days: 14
          # keep at least one run of any workflow
          keep_minimum_runs: 1
