name: Spack Build

on:
  schedule:
    - cron: '0 3 * * 0' # Every Sunday at 3AM
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: spack
      run: |
        sudo apt update -qq
        sudo apt install -y -qq --no-install-recommends build-essential gcc g++ m4 cmake autoconf python3 git
        git clone --depth=1 --branch=develop https://github.com/spack/spack
        spack/bin/spack compiler find
        spack/bin/spack external find --not-buildable cmake
        spack/bin/spack install dyninst@master
